In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as graph
import seaborn as sns

import cartopy.crs as ccrs

import statsmodels

import os
from tqdm import tqdm, trange

from convertbng.util import convert_bng, convert_lonlat
import utm

In [2]:
# code and species dictionary

code_df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Alberta/To_look_at/Banff_NP_Freshwater_Lake_Fish_Index_2017_data_dictionary.csv')
# code_df = code_df.iloc[:-6]
code_df.rename(columns={'Data_Value_Valeur_de_la_donn√©e': 'code_name', 
                        'Value_Description_EN_Description_de_la_valeur': 'common_name'}, inplace=True)
code_df = code_df[['code_name', 'common_name']]
code_df['common_name'] = code_df['common_name'].str.lower().str.replace(' ', '_')
display(code_df.sample(5))

dict_code_name = code_df.set_index('code_name').to_dict()['common_name']

   code_name     common_name
3       BLTR      bull_trout
41      SLSC   slimy_sculpin
13      RNTR   rainbow_trout
19      ARLM  arctic_lamprey
10      MATR  marstoni_trout

In [3]:
new_codes = {'LNDC': 'longnose_dace', 'BNTR': 'brown_trout', 'RNTR1': 'rainbow_trout', 'CTTR1': 'cutthroat_trout', 
             'WHSC': 'white_sucker', 'BLTRCTTR(N&I)': 'bull_trout_x_cutthroat_trout', 'CTTR(hybrids)': 'cutthroat_trout', 
             'CTTRhybrids': 'cutthroat_trout', 'SUCK': 'white_sucker'}

dict_code_name.update(new_codes)

In [4]:
# Species dictionay

species_name_df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/species_name_dictionary.csv')

dict_species_name = species_name_df.set_index('common_name').to_dict()['scientific_name']

In [5]:
new_names = {'nine-spine_stickleback': 'pungitius_pungitius'}

dict_species_name.update(new_names)
dict_species_name

{'striped_bass': 'morone_saxatilis',
 'american_shad': 'alosa_sapidissima',
 'white_sucker': 'catostomus_commersonii',
 'channel_catfish': 'ictalurus_punctatus',
 'mooneye': 'hiodon_tergisus',
 'walleye': 'sander_vitreus',
 'lake_sturgeon': 'acipenser_fulvescens',
 'rainbow_smelt': 'osmerus_mordax',
 'longnose_sucker': 'catostomus_catostomus',
 'alewife': 'alosa_pseudoharengus',
 'american_eel': 'anguilla_rostrata',
 'white_perch': 'morone_americana',
 'quillback': 'carpiodes_cyprinus',
 'smallmouth_bass': 'micropterus_dolomieu',
 'silver_redhorse': 'moxostoma_anisurum',
 'logperch': 'percina_caprodes',
 'tessellated_darter': 'etheostoma_olmstedi',
 'brown_bullhead': 'ameiurus_nebulosus',
 'longnose_gar': 'lepisosteus_osseus',
 'freshwater_drum': 'aplodinotus_grunniens',
 'fallfish': 'semotilus_corporalis',
 'channel_darter': 'percina_copelandi',
 'emerald_shiner': 'notropis_atherinoides',
 'johnny_darter': 'etheostoma_nigrum',
 'tadpole_madtom': 'noturus_gyrinus',
 'trout-perch': 'percopsis_omiscomaycus',
 'chestnut_lamprey': 'ichthyomyzon_castaneus',
 'largemouth_bass': 'micropterus_salmoides',
 'black_crappie': 'pomoxis_nigromaculatus',
 'winter_flounder': 'pseudopleuronectes_americanus',
 'three-spined_stickleback': 'gasterosteus_aculeatus',
 'sand_shiner': 'notropis_stramineus',
 'common_carp': 'cyprinus_carpio',
 'bowfin': 'amia_calva',
 'greater_redhorse': 'moxostoma_valenciennesi',
 'atlantic_mackerel': 'scomber_scombrus',
 'brook_trout': 'salvelinus_fontinalis',
 'atlantic_snailfish': 'liparis_atlanticus',
 'greenland_cod': 'gadus_ogac',
 'muskellunge': 'esox_masquinongy',
 'northern_pike': 'esox_lucius',
 'cisco': 'coregonus_artedi',
 'banded_killifish': 'fundulus_diaphanus',
 'ocean_pout': 'zoarces_americanus',
 'ninespine_stickleback': 'pungitius_pungitius',
 'polar_cod': 'boreogadus_saida',
 'tench': 'tinca_tinca',
 'atlantic_sturgeon': 'acipenser_oxyrinchus',
 'atlantic_herring': 'clupea_harengus',
 'burbot': 'lota_lota',
 'shorthead_redhorse': 'moxostoma_macrolepidotum',
 'mottled_sculpin': 'cottus_bairdii',
 'yellow_bullhead': 'ameiurus_natalis',
 'american_gizzard_shad': 'dorosoma_cepedianum',
 'american_sand_lance': 'ammodytes_americanus',
 'mimic_shiner': 'notropis_volucellus',
 'rock_bass': 'ambloplites_rupestris',
 'silver_lamprey': 'ichthyomyzon_unicuspis',
 'golden_shiner': 'notemigonus_crysoleucas',
 'round_goby': 'neogobius_melanostomus',
 'atlantic_tomcod': 'microgadus_tomcod',
 'lake_whitefish': 'coregonus_clupeaformis',
 'smooth_flounder': 'pleuronectes_putnami',
 'shorthorn_sculpin': 'myoxocephalus_scorpius',
 'slimy_sculpin': 'cottus_cognatus',
 'white_bass': 'morone_chrysops',
 'atlantic_salmon': 'salmo_salar',
 'sauger': 'sander_canadensis',
 'butterfish': 'peprilus_triacanthus',
 'pumpkinseed': 'lepomis_gibbosus',
 'spottail_shiner': 'notropis_hudsonius',
 'northern_brook_lamprey': 'ichthyomyzon_fossor',
 'brook_silverside': 'labidesthes_sicculus',
 'sea_lamprey': 'petromyzon_marinus',
 'rainbow_trout': 'oncorhynchus_mykiss',
 'yellow_perch': 'perca_flavescens',
 'bluntnose_minnow': 'pimephales_notatus',
 'fourspine_stickleback': 'apeltes_quadracus',
 'blackchin_shiner': 'notropis_heterodon',
 'shiner_sp.': 'notropis_sp.',
 'spotfin_shiner': 'cyprinella_spiloptera',
 'sucker_sp.': 'catostomus_sp.',
 'catostomid_sp.': 'catostomidae',
 'stonecat': 'noturus_flavus',
 'allis_shad': 'alosa_sp.',
 'chinook_salmon': 'oncorhynchus_tshawytscha',
 'copper_redhorse': 'moxostoma_hubbsi',
 'cyprinid_sp.': 'cyprinidae_sp.',
 'coho_salmon': 'oncorhynchus_kisutch',
 'bass_sp.': 'micropterus_sp.',
 'bluegill': 'lepomis_macrochirus',
 'river_redhorse': 'moxostoma_carinatum',
 'redhorse_sp.': 'moxostoma_sp.',
 'cutlip_minnow': 'exoglossum_maxillingua',
 'pikeperches_sp.': 'sander_sp.',
 'petromyzontid_sp.': 'petromyzontidae_sp.',
 'common_shiner': 'luxilus_cornutus',
 'eastern_silvery_minnow': 'hybognathus_regius',
 'rudd': 'scardinius_erythrophthalmus',
 'smoothbelly_darters_sp.': 'etheostoma_sp.',
 'redfin_pickerel': 'esox_americanus_americanus',
 'fantail_darter': 'etheostoma_flabellare',
 'brook_stickleback': 'culaea_inconstans',
 'longnose_dace': 'rhinichthys_cataractae',
 'iowa_darter': 'etheostoma_exile',
 'bridle_shiner': 'notropis_bifrenatus',
 'central_mudminnow': 'umbra_limi',
 'creek_chub': 'semotilus_atromaculatus',
 'eastern_sand_darter': 'ammocrypta_pellucida',
 'fathead_minnow': 'pimephales_promelas',
 'blacknose_shiner': 'notropis_heterolepis',
 'rosyface_shiner': 'notropis_rubellus',
 'brown_trout': 'salmo_trutta',
 'capelin': 'mallotus_villosus',
 'grubby_little_sculpin': 'myoxocephalus_aenaeus',
 'blueback_herring': 'alosa_aestivalis',
 'pearl_dace': 'margariscus_margarita',
 'lake_trout': 'salvelinus_namaycush',
 'goldfish': 'carassius_auratus',
 'chain_pickerel': 'esox_niger',
 'spoonhead_sculpin': 'cottus_ricei',
 'snakeblenny': 'lumpenus_lampretaeformis',
 'daubed_shanny': 'leptoclinus_maculatus',
 'stout_eelblenny': 'anisarchus_medius',
 'wrymouth': 'cryptacanthodes_maculatus',
 'arctic_hookear_sculpin': 'artediellus_uncinatus',
 'sea_raven': 'hemitripterus_americanus',
 'atlantic_hookear_sculpin': 'artediellus_atlanticus',
 'fish_doctor': 'gymnelus_viridis',
 'atlantic_soft_pout': 'melanostigma_atlanticum',
 'northern_wolf_eel': 'lycenchelys_paxillus',
 'stout_sawpalate': 'serrivomer_beanii',
 'slender_snipe_eel': 'nemichthys_scolopaceus',
 'northern_cutthroat_eel': 'synaphobranchus_kaupii',
 'snubnosed_spiny_eel': 'notacanthus_chemnitzii',
 'longfin_hake': 'phycis_chesteri',
 'pollock': 'pollachius_virens',
 'atlantic_saury': 'scomberesox_saurus',
 'longnose_greeneye': 'parasudis_truculenta',
 'white_barracudina': 'arctozenus_risso',
 'monkfish': 'lophius_americanus',
 'triplewart_seadevil': 'cryptopsaras_couesii',
 'witch_flounder': 'glyptocephalus_cynoglossus',
 'american_plaice': 'hippoglossoides_platessoides',
 'veiled_anglemouth': 'cyclothone_microdon',
 'atlantic_argentine': 'argentina_silus',
 "sloane's_viperfish": 'chauliodus_sloani',
 'slope_hatchetfish': 'polyipnus_clarus',
 'glowingfish': 'neoscopelus_macrolepidotus',
 'boa_dragonfish': 'stomias_boa',
 "kroyer's_lanternfish": 'notoscopelus_elongatus',
 'glacier_lanternfish': 'benthosema_glaciale',
 'mirror_lampfish': 'lampadena_speculigera',
 'sea_tadpole': 'careproctus_reinhardti',
 'lowfin_snailfish': 'paraliparis_calidus',
 'alligatorfish': 'aspidophoroides_monopterygius',
 'atlantic_poacher': 'leptagonus_decagonus',
 'arctic_alligatorfish': 'ulcina_olrikii',
 'yellowtail_flounder': 'limanda_ferruginea',
 'longhorn_sculpin': 'myoxocephalus_octodecemspinosus',
 'wolf_eelpout': 'lycenchelys_verrillii',
 'golden_redfish': 'sebastes_norvegicus',
 'redfish_sp.': 'sebastes',
 'variegated_snailfish': 'liparis_gibbus',
 'blacksnout_seasnail': 'paraliparis_copei',
 'lumpfish': 'cyclopterus_lumpus',
 'atlantic_cod': 'gadus_morhua',
 'blue_whiting': 'micromesistius_poutassou',
 'haddock': 'melanogrammus_aeglefinus',
 'fourline_snakeblenny': 'eumesogrammus_praecisus',
 'threebeard_rockling': 'gaidropsarus_ensis',
 'silver_hake': 'merluccius_bilinearis',
 'winter_skate': 'leucoraja_ocellata',
 'barndoor_skate': 'dipturus_laevis',
 'atlantic_hagfish': 'myxine_glutinosa',
 'northern_wolffish': 'anarhichas_denticulatus',
 'atlantic_wolffish_(striped)': 'anarhichas_lupus',
 'spotted_wolffish': 'anarhichas_minor',
 'checker_eelpout': 'lycodes_vahlii',
 'newfoundland_eelpout': 'lycodes_lavalaei',
 'arctic_eelpout': 'lycodes_reticulatus',
 'greater_eelpout_(esmark)': 'lycodes_esmarkii',
 'bigeye_sculpin': 'triglops_nybelini',
 'moustache_sculpin': 'triglops_murrayi',
 'ribbed_sculpin': 'triglops_pingelii',
 'radiated_shanny': 'ulvaria_subbifurcata',
 'slender_eelblenny': 'lumpenus_fabricii',
 'twohorn_sculpin': 'icelus_bicornis',
 'spatulate_sculpin': 'icelus_spatula',
 'polar_sculpin': 'cottunculus_microps',
 'fourhorn_sculpin': 'myoxocephalus_quadricornis',
 'arctic_staghorn_sculpin': 'gymnocanthus_tricuspis',
 'atlantic_spiny_lumpsucker': 'eumicrotremus_spinosus',
 'atlantic_halibut': 'hippoglossus_hippoglossus',
 'greenland_halibut': 'reinhardtius_hippoglossoides',
 'silver_rockling': 'gaidropsarus_argentatus',
 'fourbeard_rockling': 'enchelyopus_cimbrius',
 'marlin-spike': 'nezumia_bairdii',
 'arctic_shanny': 'stichaeus_punctatus',
 'rock_gunnel': 'pholis_gunnellus',
 'atlantic_eelpout': 'lycodes_terraenovae',
 'pale_eelpout': 'lycodes_pallidus',
 'sand_lance_sp.': 'ammodytes_sp.',
 'black_dogfish': 'centroscyllium_fabricii',
 'smooth_skate': 'malacoraja_senta',
 'thorny_skate': 'amblyraja_radiata',
 'shorttail_skate': 'amblyraja_jenseni',
 'round_skate': 'rajella_fyllae',
 'white_hake': 'urophycis_tenuis',
 'spinytail_skate': 'bathyraja_spinicauda',
 'spiny_dogfish': 'squalus_acanthias',
 'northern_sand_lance': 'ammodytes_dubius',
 'atlantic_silverside_': 'menidia_menidia',
 'myoxocephalus_sp.': 'myoxocephalus_sp.',
 'mummichog': 'fundulus_heteroclitus',
 'basking_shark': 'cetorhinus_maximus',
 'cunner_': 'tautogolabrus_adspersus',
 'sunfish': 'mola_mola',
 'northern_pipefish': 'syngnathus_fuscus',
 'atlantic_bluefin_tuna': 'thunnus_thynnus',
 'gelatinous_seasnail': 'liparis_fabricii',
 'bartail_snailfish': 'liparis_tunicatus',
 'deepwater_sculpin': 'myoxocephalus_thompsonii',
 'lake_chub': 'couesius_plumbeus',
 'finescale_dace': 'chrosomus_neogaeus',
 'tullibee_(cisco)': 'coregonus_artedi',
 'bull_trout': 'salvelinus_confluentus',
 'grass_carp': 'ctenopharyngodon_idella',
 'goldeye': 'hiodon_alosoides',
 'flathead_chub': 'Platygobio gracilis',
 'threespine_stickleback': 'gasterosteus_aculeatus',
 'northern_redbelly_dace': 'chrosomus_eos',
 'mountain_whitefish': 'prosopium_williamsoni',
 'arctic_grayling': 'thymallus_arcticus',
 'minnow_family': 'cyprinidae_spp',
 'brassy_minnow': 'hybognathus_hankinsoni',
 'arctic_grayling_(belly_popln)': 'thymallus_arcticus',
 'river_shiner': 'notropis_blennius',
 'sucker_family': 'catostomidae_spp',
 'pygmy_whitefish': 'prosopium_coulterii',
 'athabasca_rainbow_trout': 'oncorhynchus_mykiss',
 'round_whitefish': 'prosopium_cylindraceum',
 'largescale_sucker': 'catostomus_macrocheilus',
 'northern_crayfish': 'orconectes_virilis',
 'mountain_sucker': 'catostomus_platyrhynchus',
 'redside_shiner': 'richardsonius_balteatus',
 'cutthroat_trout': 'oncorhynchus_clarkii',
 'bull_trout_x_brook_trout_hybrid': 'salvelinus_fontinalis_x_confluentus',
 'prussian_carp': 'carassius_gibelio',
 'tiger_trout': 'salmo_trutta_x_salvelinus_fontinalis',
 'northern_redbelly_dace_x_finescale_dace': 'chrosomus_eos_√ó_chrosomus_neogaeus',
 'sculpin_sp.': 'cottoidea_spp',
 'northern_pikeminnow': 'ptychocheilus_oregonensis',
 'yellowtone_cutthroat_trout': 'oncorhynchus_clarkii_bouvieri',
 'cutthroat_trout_x_rainbow_trout': 'oncorhynchus_clarkii_x_oncorhynchus_mykiss',
 'golden_trout': 'oncorhynchus_aguabonita',
 'westslope_cutthroat_trout': 'oncorhynchus_clarkii',
 'kokanee': 'oncorhynchus_nerka',
 'tiger_salamander': 'ambystoma_tigrinum',
 'dolly_varden': 'salvelinus_malma',
 'giant_floater': 'pyganodon_grandis',
 'trout_family': 'salmonidae_spp',
 'arctic_char': 'salvelinus_alpinus',
 'tullibee_(cisco)_x_lake_whitefish': 'coregonus_artedi_x_coregonus_clupeaformis',
 'trout': 'salmonidae_spp',
 'black_bullhead': 'ameiurus_melas',
 'prickly_sculpin': 'cottus_asper',
 'peamouth_chub': 'mylocheilus_caurinus',
 'chinese_mystery_snail': 'cipangopaludina_chinensis',
 'western_silvery_minnow': 'hybognathus_argyritis',
 'rocky_mountain_sculpin': 'cottus_spp',
 'cichlid': 'cichlidae',
 'carp_sp.': 'cyprinidae',
 'koi': 'cyprinus_rubrofuscus',
 'shortjaw_cisco': 'coregonus_zenithicus',
 'splake': 'salvelinus_fontinalis_√ó_salvelinus_namaycush',
 'trout_perch': 'percopsis_omiscomaycus',
 'ouaniche': 'salmo_salar',
 'longsnose_dace': 'rhinichthys_cataractae',
 'bull_trout_x_cutthroat_trout': 'salvelinus_confluentus_x_oncorhynchus_clarkii',
 'landlocked_salmon': 'salmo_salar',
 'fall_fish': 'semotilus_corporalis',
 'tomcod': 'microgadus_tomcod',
 'three_spine_stickleback': 'gasterosteus aculeatus',
 'alewife_(gaspereau)': 'alosa_pseudoharengus',
 'atlantic_whitefish': 'coregonus_huntsmani',
 'atlantic_silverside': 'menidia_menidia',
 'nine_spine_stickleback': 'pungitius_pungitius',
 'four_spine_stickleback': 'apeltes_quadracus',
 'black_nose_dace': 'rhinichthys_atratulus',
 'three-spine_stickleback': 'gasterosteus aculeatus',
 'nine-spine_stickleback': 'pungitius_pungitius',
 'arctic_charr': 'salvelinus_alpinus',
 'smelt': 'osmeridae',
 'chum_salmon': 'oncorhynchus_keta',
 'pink_salmon': 'oncorhynchus_gorbuscha',
 'sockeye_salmon': 'oncorhynchus_nerka',
 'dolly_varden_trout': 'salvelinus_malma',
 'sheefish': 'stenodus_leucichthys',
 'broad_whitefish': 'coregonus_nasus',
 'steelhead_trout': 'oncorhynchus_mykiss',
 'humpback_whitefish': 'coregonus_clupeaformis',
 'least_cisco': 'coregonus_sardinella',
 'shiner': 'notropis_hudsonius',
 'arctic_cisco': 'coregonus_autumnalis'}

In [16]:
species_name_df = pd.DataFrame.from_dict({'common_name': list(dict_species_name.keys()), 
                                        'scientific_name' : list(dict_species_name.values())})
# species_name_df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/species_name_dictionary.csv', index=False)

# Compiling stuff

### Angler's Map

In [20]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Used/AnglerSaskatchewanStockedTroutWatersRivers.csv')
df = df[['Name', 'Species', 'Year', 'LatMid', 'LongMid']]
df.rename(columns={'Name': 'waterbody_name', 'Year': 'year', 'LatMid': 'latitude', 'LongMid': 'longitude'}, inplace=True)

df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)
df['Species'] = df['Species'].str.lower().str.replace(' ', '_')
df['Species'].replace(dict_species_name, inplace=True)

df.head()

,waterbody_name,Species,year,latitude,longitude,lat_long
0,Battle Creek,oncorhynchus_mykiss,2019,49.42649,-109.581201,49.426_-109.581
1,Battle Creek,salmo_trutta,2018,49.42649,-109.581201,49.426_-109.581
2,Battle Creek,oncorhynchus_mykiss,2018,49.42649,-109.581201,49.426_-109.581
3,Battle Creek,oncorhynchus_mykiss,2017,49.42649,-109.581201,49.426_-109.581
4,Battle Creek,salmo_trutta,2016,49.42649,-109.581201,49.426_-109.581

In [21]:
print(df['year'].min(), df['year'].max())
for col in df['Species'].unique():
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.sample(5))

1999 2019

,waterbody_name,Species,year,latitude,longitude,lat_long,oncorhynchus_mykiss,salmo_trutta,salvelinus_fontinalis,esox_spp,sander_vitreus,percidae_spp,hiodon_alosoides,acipenser_fulvescens
6,Battle Creek,oncorhynchus_mykiss,2015,49.426490,-109.581201,49.426_-109.581,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Greenbush River,salvelinus_fontinalis,2019,52.928232,-102.705929,52.928_-102.706,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
41,Etomami River,oncorhynchus_mykiss,2018,52.737599,-102.405885,52.738_-102.406,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
40,Etomami River,salvelinus_fontinalis,2018,52.737599,-102.405885,52.738_-102.406,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
94,White Gull Creek,salvelinus_fontinalis,2016,53.962225,-104.790520,53.962_-104.791,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [23]:
print(len(df))
df.drop(columns=['Species'], inplace=True)
df.drop_duplicates(subset = df.columns[1:], inplace=True)
print(len(df))

display(df.sample(5))
df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Processed/sask_anglers_map_1999_2019_occurence.csv', 
          index=False)

109
87

,waterbody_name,year,latitude,longitude,lat_long,oncorhynchus_mykiss,salmo_trutta,salvelinus_fontinalis,esox_spp,sander_vitreus,percidae_spp,hiodon_alosoides,acipenser_fulvescens
15,Bear Creek,2015,49.853232,-109.093910,49.853_-109.094,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
50,Greenbush River,2019,52.928232,-102.705929,52.928_-102.706,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
19,Belanger Creek,2019,49.560107,-109.360333,49.56_-109.36,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
75,Nipekamew Creek,2012,54.181732,-104.889575,54.182_-104.89,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
99,White Gull Creek,2011,53.962225,-104.790520,53.962_-104.791,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

# Prince Albert

In [58]:
df_code = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Used/Prince_Albert_NP_Freshwater_Piscivorous_Fish_2009-2015_data_dictionary_2.csv', 
                      engine='python')
df_code['names'] = df_code['Value_Description_EN_Description_de_la_valeur'].str.split('- ').str.get(1).str.lower().str.replace(' ', '_')
dict_prince_names = dict(zip(df_code['Data_Value_Valeur_de_la_donnÔøΩe'][:6], df_code['names'][:6]))
dict_prince_names

{'81': 'salvelinus_namaycush',
 '91': 'coregonus_clupeaformis',
 '93': 'coregonus_artedi',
 '131': 'esox_lucius',
 '271': 'lota_lota',
 '334': 'stizostedion_vitreum'}

In [59]:
df_location = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Used/Prince_Albert_NP_Freshwater_Piscivorous_Fish_2009-2017_data_1.csv', 
                      engine='python')

df_location['latitude'], df_location['longitude'] = np.where(df_location['UTM Zone'] == 13, 
                                                             (utm.to_latlon(df_location['UTM Easting'], df_location['UTM Northing'], 13, 'U')), 
                                                             np.nan)
df_location['latitude'], df_location['longitude'] = np.where(df_location['UTM Zone'] == 9, 
                                                             (utm.to_latlon(df_location['UTM Easting'], df_location['UTM Northing'], 15, 'U')),
                                                             (df_location['latitude'], df_location['longitude']))
df_location = df_location[['Waterbody Name', 'Year', 'Effort Number', 'latitude', 'longitude']]
df_location.head()

  Waterbody Name  Year  Effort Number   latitude   longitude
0      Kingsmere  2009              1  54.051214 -106.445356
1      Kingsmere  2009              2  54.060116 -106.448782
2      Kingsmere  2009              3  54.065335 -106.445312
3      Kingsmere  2009              4  54.060144 -106.434421
4      Kingsmere  2009              5  54.061682 -106.454628

In [60]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Used/Prince_Albert_NP_Freshwater_Piscivorous_Fish_2009-2017_data_2.csv', 
                      engine='python')
df = df[['Waterbody Name', 'Year', 'Effort Number', 'Species']]
df['Species'] = df['Species'].astype(str)

df.head()

  Waterbody Name  Year  Effort Number Species
0      Kingsmere  2009              1      81
1      Kingsmere  2009              1      91
2      Kingsmere  2009              1      91
3      Kingsmere  2009              2      81
4      Kingsmere  2009              2      81

In [61]:
df = df.merge(df_location, on=['Waterbody Name', 'Year', 'Effort Number'], how='left')
df['Species'].replace(dict_prince_names, inplace=True)

df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head()

,waterbody_name,year,effort_number,species,latitude,longitude,lat_long
0,Kingsmere,2009,1,salvelinus_namaycush,54.051214,-106.445356,54.051_-106.445
1,Kingsmere,2009,1,coregonus_clupeaformis,54.051214,-106.445356,54.051_-106.445
2,Kingsmere,2009,1,coregonus_clupeaformis,54.051214,-106.445356,54.051_-106.445
3,Kingsmere,2009,2,salvelinus_namaycush,54.060116,-106.448782,54.06_-106.449
4,Kingsmere,2009,2,salvelinus_namaycush,54.060116,-106.448782,54.06_-106.449

In [63]:
print(df['year'].min(), df['year'].max())

for col in df['species'].unique():
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.sample(5))

2009 2017

,waterbody_name,year,effort_number,species,latitude,longitude,lat_long,salvelinus_namaycush,coregonus_clupeaformis,stizostedion_vitreum,coregonus_artedi,esox_lucius,lota_lota
435,Kingsmere,2017,35,salvelinus_namaycush,54.072493,-106.424026,54.072_-106.424,1.0,NaN,NaN,NaN,NaN,NaN
420,Kingsmere,2017,24,salvelinus_namaycush,54.099106,-106.428027,54.099_-106.428,1.0,NaN,NaN,NaN,NaN,NaN
215,Kingsmere,2015,20,salvelinus_namaycush,54.124481,-106.489529,54.124_-106.49,1.0,NaN,NaN,NaN,NaN,NaN
146,Kingsmere,2009,81,salvelinus_namaycush,54.119896,-106.511965,54.12_-106.512,1.0,NaN,NaN,NaN,NaN,NaN
462,Kingsmere,2017,53,coregonus_clupeaformis,54.089146,-106.463172,54.089_-106.463,1.0,1.0,NaN,NaN,NaN,NaN

In [64]:
print(len(df))
df.drop(columns=['species', 'effort_number'], inplace=True)
df.drop_duplicates(subset = df.columns[1:], inplace=True)
print(len(df))

display(df.sample(5))
df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Processed/prince_albert_2009_2017_occurence.csv', 
          index=False)

517
179

,waterbody_name,year,latitude,longitude,lat_long,salvelinus_namaycush,coregonus_clupeaformis,stizostedion_vitreum,coregonus_artedi,esox_lucius,lota_lota
381,Kingsmere,2015,54.069318,-106.451976,54.069_-106.452,1.0,1.0,NaN,NaN,NaN,NaN
474,Kingsmere,2017,54.110821,-106.413315,54.111_-106.413,NaN,1.0,NaN,NaN,NaN,NaN
110,Kingsmere,2009,54.065558,-106.447688,54.066_-106.448,1.0,1.0,NaN,NaN,NaN,NaN
123,Kingsmere,2009,54.121883,-106.501815,54.122_-106.502,1.0,NaN,NaN,NaN,NaN,NaN
54,Kingsmere,2009,54.089331,-106.476710,54.089_-106.477,1.0,1.0,NaN,NaN,NaN,NaN

# Waterton

In [77]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Used/Waterton_Lakes_NP_Freshwater_Stream_Fish_Occupancy_2016_data.csv')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns=dict_species_name, inplace=True)

df['latitude'], df['longitude'] = np.where(df['utm_zone'] == 11, 
                                           (utm.to_latlon(df['utm_easting'], df['utm_northing'], 11, 'U')), 
                                           np.nan)
df['latitude'], df['longitude'] = np.where(df['utm_zone'] == 12, 
                                           (utm.to_latlon(df['utm_easting'], df['utm_northing'], 12, 'U')), 
                                           (df['latitude'], df['longitude']))
df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)

df['year'] = pd.DatetimeIndex(pd.to_datetime(df['date_(date/month/year)'])).year

df = df[['waterbody_name', 'site_description', 'year', 'latitude', 'longitude', 'lat_long', 'oncorhynchus_clarkii', 
         'salvelinus_fontinalis', 'salvelinus_confluentus', 'oncorhynchus_mykiss', 'rhinichthys_cataractae', 
         'catostomus_catostomus', 'catostomus_commersonii', 'percopsis_omiscomaycus', 'lota_lota', 'salmo_trutta', 
         'oncorhynchus_clarkii_x_oncorhynchus_mykiss']]

df.head()

,waterbody_name,site_description,year,latitude,longitude,lat_long,oncorhynchus_clarkii,salvelinus_fontinalis,salvelinus_confluentus,oncorhynchus_mykiss,rhinichthys_cataractae,catostomus_catostomus,catostomus_commersonii,percopsis_omiscomaycus,lota_lota,salmo_trutta,oncorhynchus_clarkii_x_oncorhynchus_mykiss
0,WATERTON,Hell Roaring,2016,49.021741,-113.898271,49.022_-113.898,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WATERTON,Crooked,2016,49.123630,-119.949173,49.124_-119.949,0.0,0.0,0.0,0.0,29.0,12.0,16.0,14.0,1.0,NaN,NaN
2,WATERTON,Crooked,2016,49.123630,-119.949173,49.124_-119.949,0.0,0.0,0.0,0.0,13.0,NaN,1.0,7.0,NaN,NaN,NaN
3,WATERTON,Blakiston,2016,49.125808,-114.027050,49.126_-114.027,0.0,0.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WATERTON,Blakiston,2016,49.125808,-114.027050,49.126_-114.027,0.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
print(df['year'].min(), df['year'].max())

for col in df.columns[6:]:
    df[col] = np.where(df[col].notnull(), 1, df[col])
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))

display(df.sample(5))

2016 2016

,waterbody_name,site_description,year,latitude,longitude,lat_long,oncorhynchus_clarkii,salvelinus_fontinalis,salvelinus_confluentus,oncorhynchus_mykiss,rhinichthys_cataractae,catostomus_catostomus,catostomus_commersonii,percopsis_omiscomaycus,lota_lota,salmo_trutta,oncorhynchus_clarkii_x_oncorhynchus_mykiss
10,WATERTON,Blakiston,2016,49.096255,-113.905775,49.096_-113.906,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,WATERTON,Dungarven,2016,49.186081,-113.943429,49.186_-113.943,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
31,WATERTON,Rowe,2016,49.056519,-114.049382,49.057_-114.049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,WATERTON,Blue Grouse,2016,49.120595,-114.141875,49.121_-114.142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,WATERTON,Crooked,2016,49.063478,-113.751008,49.063_-113.751,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
print(len(df))
df.drop_duplicates(subset = df.columns[2:], inplace=True)
print(len(df))

display(df.sample(5))
df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Processed/waterton_2016_occurence.csv', 
          index=False)

43
27

,waterbody_name,site_description,year,latitude,longitude,lat_long,oncorhynchus_clarkii,salvelinus_fontinalis,salvelinus_confluentus,oncorhynchus_mykiss,rhinichthys_cataractae,catostomus_catostomus,catostomus_commersonii,percopsis_omiscomaycus,lota_lota,salmo_trutta,oncorhynchus_clarkii_x_oncorhynchus_mykiss
13,WATERTON,Bauerman,2016,49.151866,-114.085320,49.152_-114.085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WATERTON,Blakiston,2016,49.125808,-114.027050,49.126_-114.027,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,WATERTON,Lone,2016,49.112359,-114.138086,49.112_-114.138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,WATERTON,Blakiston,2016,49.112009,-114.078900,49.112_-114.079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,WATERTON,Blue Grouse,2016,49.118292,-114.133194,49.118_-114.133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Anglers water points

In [23]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Used/AnglerSaskatchewanStockedTroutWatersPoints.csv')# df = df[['Name', 'Species', 'Year', 'LatMid', 'LongMid']]
df.rename(columns={'Name': 'waterbody_name', 'Year': 'year', 'Lat': 'latitude', 'Long': 'longitude'}, inplace=True)
df.drop(columns=['Count'], inplace=True)

df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)
df['Species'] = df['Species'].str.lower().str.rstrip().str.replace(' ', '_')
df['Species'].replace(dict_species_name, inplace=True)

df = df.loc[df['Species'] != 'lake']
df = df.loc[df['year'] != '-']
df['year'].replace(20122, 2012, inplace=True)

df.head()

,waterbody_name,Species,year,latitude,longitude,lat_long
0,Althouse Lake,salvelinus_fontinalis_x_salvelinus_namaycush,2007,55.508968,-104.836206,55.509_-104.836
1,Amber Lake,salvelinus_fontinalis,2019,57.446012,-109.264097,57.446_-109.264
2,Amber Lake,salvelinus_fontinalis,2018,57.446012,-109.264097,57.446_-109.264
3,Amber Lake,salmo_trutta,2018,57.446012,-109.264097,57.446_-109.264
4,Amber Lake,salvelinus_fontinalis,2017,57.446012,-109.264097,57.446_-109.264

In [24]:
print(df['year'].min(), df['year'].max())
for col in df['Species'].unique():
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.sample(5))

1973 2019

,waterbody_name,Species,year,latitude,longitude,lat_long,salvelinus_fontinalis_x_salvelinus_namaycush,salvelinus_fontinalis,salmo_trutta,oncorhynchus_mykiss,salmo_trutta_x_salvelinus_fontinalis,esox_lucius,sander_vitreus,lota_lota,coregonus_clupeaformis,perca_flavescens,sander_canadensis,salvelinus_namaycush
768,Steep Creek,oncorhynchus_mykiss,2012,53.226976,-105.350003,53.227_-105.35,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,Steep Creek,oncorhynchus_mykiss,2018,53.226976,-105.350003,53.227_-105.35,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Sand Lake,salvelinus_fontinalis,2019,54.186900,-104.859352,54.187_-104.859,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,McLaren Lake,esox_lucius,2015,50.296577,-109.897270,50.297_-109.897,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
89,Coal Pit-SPC-C,salvelinus_fontinalis_x_salvelinus_namaycush,2019,49.098571,-103.091154,49.099_-103.091,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
print(len(df))
df.drop(columns=['Species'], inplace=True)
df.drop_duplicates(subset = df.columns[1:], inplace=True)
print(len(df))

display(df.sample(5))
df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Saskatchewan/Processed/sask_anglers_map_water_point_1973_2019_occurence.csv', 
          index=False)

1275
1031

,waterbody_name,year,latitude,longitude,lat_long,salvelinus_fontinalis_x_salvelinus_namaycush,salvelinus_fontinalis,salmo_trutta,oncorhynchus_mykiss,salmo_trutta_x_salvelinus_fontinalis,esox_lucius,sander_vitreus,lota_lota,coregonus_clupeaformis,perca_flavescens,sander_canadensis,salvelinus_namaycush
109,Cora Lake,2015,54.277579,-104.582119,54.278_-104.582,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Berna Lake,2018,55.926990,-104.294930,55.927_-104.295,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,Shutte Lake,2015,52.177977,-102.915966,52.178_-102.916,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
302,Kipling Reservoir,2016,50.072841,-102.741995,50.073_-102.742,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,Junction Lake,2018,54.753855,-105.651398,54.754_-105.651,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN