In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as graph
import seaborn as sns

In [2]:
# Species dictionay

species_name_df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/species_name_dictionary.csv')

dict_species_name = species_name_df.set_index('common_name').to_dict()['scientific_name']

# Ontario

In [38]:
lat_long_precision = 3

### After 2007, Broad Scale Monitoring

In [39]:
df_location = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Ontario/York_request_ONBSM_Location.csv')
df_location.drop(columns=['Target_species', 'Lake_selection'], inplace=True)
df_location['year'] = pd.DatetimeIndex(pd.to_datetime(df_location['Survey_year_month'])).year

df_location['lat_long'] = (df_location['Lat'].round(lat_long_precision).astype(str) + '_' + 
                           df_location['Long'].round(lat_long_precision).astype(str))
print(f'Location size: {len(df_location)}')

df_variables = df_location[['year', 'lat_long', 'Area_ha', 'Depth_Max', 'Depth_Mn', 'SDF', 'Secchi_Su', 
                            'Thermo_Obs', 'Thermo_Pred', 'TotalPhosphorus(ugL)', 'TrueColour_pctl', 'pH_pctl', 
                            'Conductivity(uScms)', 'TDS (mg/L)', 'DD5_8110', 'AirTemp_8110']]

df_variables = df_variables.groupby(['year', 'lat_long']).mean().reset_index()
print(f'Variables size: {len(df_variables)}')
display(df_variables.head())

Location size: 1409
Variables size: 1406

,year,lat_long,Area_ha,Depth_Max,Depth_Mn,SDF,Secchi_Su,Thermo_Obs,Thermo_Pred,TotalPhosphorus(ugL),TrueColour_pctl,pH_pctl,Conductivity(uScms),TDS (mg/L),DD5_8110,AirTemp_8110
0,2007.0,44.584_-78.844,4764.0,12.8,5.0,2.984901,NaN,NaN,9.770048,NaN,NaN,NaN,NaN,NaN,1975.0,6.4
1,2007.0,48.579_-90.419,3407.0,54.9,18.1,3.101563,NaN,NaN,13.763188,8.2,12.0,38.0,66.0,43.9560,1453.0,2.4
2,2007.0,49.111_-91.881,8467.0,56.4,22.1,5.469126,NaN,11.0,15.693298,5.2,50.0,40.0,25.3,16.8498,1615.0,2.8
3,2008.0,43.057_-81.176,233.0,12.2,3.6,2.478946,1.2,NaN,6.269517,52.5,64.0,64.0,549.0,365.6340,2246.0,8.1
4,2008.0,44.172_-78.855,6650.0,6.1,1.3,5.075877,0.5,NaN,NaN,10.1,33.0,100.0,390.0,259.7400,2065.0,7.2

In [40]:
df_location = df_location[['year', 'lat_long', 'Lat', 'Long', 
                           'BsM_Cycle', 'FMZ', 'Wby_LID', 'Wby_Name']].merge(df_variables, on=['year', 'lat_long'])
display(df_location.head())
print(len(df_location))

,year,lat_long,Lat,Long,BsM_Cycle,FMZ,Wby_LID,Wby_Name,Area_ha,Depth_Max,...,Secchi_Su,Thermo_Obs,Thermo_Pred,TotalPhosphorus(ugL),TrueColour_pctl,pH_pctl,Conductivity(uScms),TDS (mg/L),DD5_8110,AirTemp_8110
0,2012.0,54.146_-85.04,54.14639,-85.03972,1.0,1.0,16-6284-60018,Pine L.,299.0,12.66,...,1.9,11.0,8.846716,12.8,100.0,100.0,137.0,91.242,1069.0,-1.8
1,2012.0,54.165_-85.689,54.16500,-85.68917,1.0,1.0,16-5856-60025,Shamattawa L.,963.0,7.20,...,1.2,NaN,NaN,11.5,100.0,50.0,115.0,76.590,1073.0,-1.8
2,2012.0,54.334_-85.014,54.33444,-85.01361,1.0,1.0,16-6292-60223,Spruce L.,1082.0,16.00,...,2.0,NaN,10.110772,9.5,50.0,100.0,133.0,88.578,1059.0,-1.9
3,2011.0,52.579_-91.541,52.57861,-91.54139,1.0,2.0,15-5988-58262,Windigo L.,8028.0,7.00,...,1.6,NaN,NaN,11.3,63.0,63.0,108.0,71.928,1329.0,-0.3
4,2011.0,52.91_-87.384,52.90972,-87.38417,1.0,2.0,16-4753-58628,Winisk L.,25815.0,16.50,...,3.0,NaN,12.043536,9.0,50.0,88.0,149.0,99.234,1179.0,-1.2

1407

In [41]:
bsm_lakes = df_location[['lat_long', 'Lat', 'Long', 'Wby_Name']]

bsm_lakes.rename(columns = {'Lat': 'latitude', 'Long': 'longitude', 'Wby_Name': 'lake_name'}, inplace=True)
print(len(bsm_lakes))
bsm_lakes.drop_duplicates(inplace=True)
print(len(bsm_lakes))
display(bsm_lakes.head())

1407
1405

/home/arshad/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/arshad/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         lat_long  latitude  longitude      lake_name
0   54.146_-85.04  54.14639  -85.03972        Pine L.
1  54.165_-85.689  54.16500  -85.68917  Shamattawa L.
2  54.334_-85.014  54.33444  -85.01361      Spruce L.
3  52.579_-91.541  52.57861  -91.54139     Windigo L.
4   52.91_-87.384  52.90972  -87.38417      Winisk L.

### AHI Data

In [42]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Ontario/Used/Ontario lakes and fish database_October2013.csv')

ahi_data = df[['Latitude', 'Longitude', 'Lake name']]
ahi_data.columns = ahi_data.columns.str.lower().str.replace(' ', '_')
ahi_data['lat_long'] = (ahi_data['latitude'].round(lat_long_precision).astype(str) + 
                        '_' + ahi_data['longitude'].round(lat_long_precision).astype(str))

print(len(ahi_data))
ahi_data.drop_duplicates(inplace=True)
print(len(ahi_data))
display(ahi_data.head())

9885
9823

/home/arshad/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/arshad/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

    latitude  longitude           lake_name        lat_long
0  50.337778 -93.404444          Aerobus L.  50.338_-93.404
1  50.026389 -93.154722          Affleck L.  50.026_-93.155
2  49.459444 -92.468611       Aiabewatik L.  49.459_-92.469
3  50.028889 -92.952500  Little Amesdale L.  50.029_-92.952
4  50.110000 -92.466389            Alder L.   50.11_-92.466

### Identifying common Lakes

In [43]:
merged_lake_name = bsm_lakes.merge(ahi_data, on=['lake_name'], how='inner')
print(len(merged_lake_name))
display(merged_lake_name)

4020

,lat_long_x,latitude_x,longitude_x,lake_name,latitude_y,longitude_y,lat_long_y
0,54.146_-85.04,54.14639,-85.03972,Pine L.,49.242500,-79.908333,49.242_-79.908
1,54.146_-85.04,54.14639,-85.03972,Pine L.,48.574722,-80.881667,48.575_-80.882
2,54.146_-85.04,54.14639,-85.03972,Pine L.,46.704444,-80.259444,46.704_-80.259
3,54.146_-85.04,54.14639,-85.03972,Pine L.,46.746389,-79.277778,46.746_-79.278
4,54.146_-85.04,54.14639,-85.03972,Pine L.,46.308889,-79.125833,46.309_-79.126
...,...,...,...,...,...,...,...
4015,44.434_-76.222,44.43417,-76.22167,South L.,44.434167,-76.221667,44.434_-76.222
4016,44.606_-76.669,44.60611,-76.66861,St. Andrew L.s,44.600000,-76.666667,44.6_-76.667
4017,44.425_-76.557,44.42472,-76.55722,Sydenham L.,44.424722,-76.557222,44.425_-76.557
4018,45.031_-77.431,45.03056,-77.43111,Weslemkoon L.,45.030556,-77.431111,45.031_-77.431
4019,45.027_-77.424,45.02704,-77.42370,Weslemkoon L.,45.030556,-77.431111,45.031_-77.431

In [44]:
merged_lat_long = bsm_lakes.merge(ahi_data, on=['lat_long'], how='inner', suffixes=('_bsm', '_ahi'))
print(len(merged_lat_long))
display(merged_lat_long)
# merged_lat_long.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Ontario/common_lat_longs_ahi_bsm.csv', index=False)

673

,lat_long,latitude_bsm,longitude_bsm,lake_name_bsm,latitude_ahi,longitude_ahi,lake_name_ahi
0,54.165_-85.689,54.16500,-85.68917,Shamattawa L.,54.165000,-85.689167,Shamattawa L.
1,54.334_-85.014,54.33444,-85.01361,Spruce L.,54.334444,-85.013611,Spruce L.
2,52.579_-91.541,52.57861,-91.54139,Windigo L.,52.578611,-91.541389,Windigo L.
3,51.711_-94.485,51.71139,-94.48500,Cairns L.,51.711389,-94.485000,Cairns L.
4,54.521_-92.24,54.52056,-92.23972,Echoing L.,54.520556,-92.239722,Echoing L.
...,...,...,...,...,...,...,...
668,44.842_-77.252,44.84250,-77.25222,Skootamatta L.,44.842500,-77.252222,Skootamatta L.
669,44.434_-76.222,44.43417,-76.22167,South L.,44.434167,-76.221667,South L.
670,44.425_-76.557,44.42472,-76.55722,Sydenham L.,44.424722,-76.557222,Sydenham L.
671,45.031_-77.431,45.03056,-77.43111,Weslemkoon L.,45.030556,-77.431111,Weslemkoon L.
672,45.31_-76.52,45.31000,-76.52028,White L.,45.310000,-76.520278,White L.

In [50]:
common_lake_names = np.unique([lake for lake in ahi_data['lake_name'].unique() if lake in bsm_lakes['lake_name'].unique()])

In [89]:
lake_name = 'Burt L.'
display(merged_lat_long.loc[merged_lat_long['lake_name_bsm'] == lake_name])
display(ahi_data.loc[ahi_data['lake_name'] == lake_name])
display(bsm_lakes.loc[bsm_lakes['lake_name'] == lake_name])

Empty DataFrame
Columns: [lat_long, latitude_bsm, longitude_bsm, lake_name_bsm, latitude_ahi, longitude_ahi, lake_name_ahi]
Index: []

       latitude  longitude lake_name        lat_long
4215  48.076667 -80.363056   Burt L.  48.077_-80.363

           lat_long  latitude  longitude lake_name
237   48.297_-91.55  48.29694  -91.54972   Burt L.
360  48.293_-91.563  48.29252  -91.56278   Burt L.

In [63]:
missed_lakes = [lake for lake in common_lake_names if lake not in merged_lat_long['lake_name_bsm'].unique() or 
                lake not in merged_lat_long['lake_name_ahi'].unique()]
missed_lakes

['Aaron L.',
 'Ahmic L.',
 'Alexander L.',
 'Anishinabi L.',
 'Arbuckle L.',
 'Aubrey L.',
 'Barrel L.',
 'Basswood L.',
 'Bear L.',
 'Bee L.',
 'Berry L.',
 'Big Canon L.',
 'Big Moon L.',
 'Big Trout L.',
 'Biscotasi L.',
 'Blackstone L.',
 'Blair L.',
 'Bobs L.',
 'Bornite L.',
 'Bridge L.',
 'Bright L.',
 'Broadcast L.',
 'Bruce L.',
 'Brunswick L.',
 'Burt L.',
 'Calder L.',
 'Camel L.',
 'Canal L.',
 'Castle L.',
 'Cavell L.',
 'Chiniguchi L.',
 'Chipman L.',
 'Chub L.',
 'Cobble L.',
 'Cree L.',
 'Denyes L.',
 'Dilla L.',
 'Drag L.',
 'Duncan L.',
 'Dunstan L.',
 'Expanse L.',
 'Eye L.',
 'Fairbank L.',
 'Farrell L.',
 'Florence L.',
 'Flying Loon L.',
 'Fog L.',
 'Galloway L.',
 'Gary L.',
 'Gloucester Pl.',
 'Gordon L.',
 'Gould L.',
 'Grace L.',
 'Grassy L.',
 'Green L.',
 'Greenwood L.',
 'Griffin L.',
 'Hardiman L.',
 'Harris L.',
 'Hartman L.',
 'Heron L.',
 'Holden L.',
 'I-291, L.',
 'Jean L.',
 'Joyce L.',
 'Jubilee L.',
 'Kabinakagami L.',
 'Kabinakagamisis L.',
 'Kagawong, L.',
 'Kashishibog L.',
 'Kawagama L.',
 'Kekekuab L.',
 'Kenogamissi L.',
 'Little Abitibi L.',
 'Little Gordon L.',
 'Little John L.',
 'Lost L.',
 'Louise L.',
 'Lount L.',
 'Lower Stewart L.',
 'Lowry L.',
 'Lulu L.',
 'Mamakwash L.',
 'Manitou, L.',
 'Marks L.',
 'Mary L.',
 'Mattagami L.',
 'McLean L.',
 'Mercutio L.',
 'Mickle L.',
 'Mile L.',
 'Ministic L.',
 'Mount L.',
 'Mountain L.',
 'Muskasenda L.',
 'Nalla L.',
 'Net L.',
 'Nine Mile L.',
 'Oba L.',
 'Obabika L.',
 'Oke L.',
 'Opasatika L.',
 'Oskawe L.',
 'Pagwachuan L.',
 'Partridge L.',
 'Pelicanpouch L.',
 'Pierre L.',
 'Pine L.',
 'Point L.',
 'Prairie Bee L.',
 'Premier L.',
 'Rapid L.',
 'Red Pine L.',
 'Remi L.',
 'Return L.',
 'Rose L.',
 'Rush L.',
 'Sandy L.',
 'Shacabac L.',
 'Shack L.',
 'Sharbot L.',
 'Shawanabis L.',
 'Shell L.',
 'Skeleton L.',
 'Smith L.',
 'Snare L.',
 'Southbear L.',
 'Springwater L.',
 'St. Andrew L.s',
 'Stanzhikimi L.',
 'Stringer L.',
 'Teasdale L.',
 'Ten Mile L.',
 'Uchi L.',
 'Upper Hunters L.',
 'Vermilion L.',
 'Wabatongushi L.',
 'Watson L.',
 'Weaver L.',
 'Wegg L.',
 'Wenebegon L.',
 'Whiterock L.',
 'Wicksteed L.',
 'Windy L.',
 'Wolf L.',
 'Woman L.']

In [64]:
len(missed_lakes)

146