In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as graph
import seaborn as sns

import cartopy.crs as ccrs

import statsmodels

import os
from tqdm import tqdm, trange

from convertbng.util import convert_bng, convert_lonlat
import utm

In [4]:
# code and species dictionary

code_df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/Alberta/To_look_at/Banff_NP_Freshwater_Lake_Fish_Index_2017_data_dictionary.csv')
# code_df = code_df.iloc[:-6]
code_df.rename(columns={'Data_Value_Valeur_de_la_donnée': 'code_name', 
                        'Value_Description_EN_Description_de_la_valeur': 'common_name'}, inplace=True)
code_df = code_df[['code_name', 'common_name']]
code_df['common_name'] = code_df['common_name'].str.lower().str.replace(' ', '_')
display(code_df.sample(5))

dict_code_name = code_df.set_index('code_name').to_dict()['common_name']

   code_name        common_name
21      BRMN      brassy_minnow
29      FTMN     fathead_minnow
22      BRST  brook_stickleback
1       ATLS    atlantic_salmon
13      RNTR      rainbow_trout

In [5]:
new_codes = {'LNDC': 'longnose_dace', 'BNTR': 'brown_trout', 'RNTR1': 'rainbow_trout', 'CTTR1': 'cutthroat_trout', 
             'WHSC': 'white_sucker', 'BLTRCTTR(N&I)': 'bull_trout_x_cutthroat_trout', 'CTTR(hybrids)': 'cutthroat_trout', 
             'CTTRhybrids': 'cutthroat_trout', 'SUCK': 'white_sucker'}

dict_code_name.update(new_codes)

In [6]:
# Species dictionay

species_name_df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/species_name_dictionary.csv')

dict_species_name = species_name_df.set_index('common_name').to_dict()['scientific_name']

In [5]:
new_names = {'nine-spine_stickleback': 'pungitius_pungitius'}

dict_species_name.update(new_names)
dict_species_name

{'lake_sturgeon': 'acipenser_fulvescens',
 'green_sturgeon': 'acipenser_medirostris',
 'atlantic_sturgeon': 'acipenser_oxyrinchus',
 'white_sturgeon': 'acipenser_transmontanus',
 'sturgeon': 'acipenseridae_spp',
 'sturgeons': 'acipenseridae_spp',
 'chiselmouth': 'acrocheilus_alutaceus',
 'poachers': 'agonidae_spp',
 'poacher_spp': 'agonidae_spp',
 'northern_spearnose_poacher': 'agonopsis_vulsa',
 'northern_spparnose_poacher': 'agonopsis_vulsa',
 'blueback_herring': 'alosa_aestivalis',
 'skipjack_herring': 'alosa_chrysochloris',
 'alewife': 'alosa_pseudoharengus',
 'gaspereau': 'alosa_pseudoharengus',
 'alewife_(gaspereau)': 'alosa_pseudoharengus',
 'american_shad': 'alosa_sapidissima',
 'allis_shad': 'alosa_spp',
 'rock_bass': 'ambloplites_rupestris',
 'tiger_salamander': 'ambystoma_tigrinum',
 'black_bullhead': 'ameiurus_melas',
 'black_catfish': 'ameiurus_melas',
 'bullhead': 'ameiurus_melas',
 'black_bullhead_x_brown_bullhead': 'ameiurus_melas_x_ameiurus_nebulosus',
 'yellow_bullhead': 'ameiurus_natalis',
 'brown_bullhead': 'ameiurus_nebulosus',
 'brown_catfish': 'ameiurus_nebulosus',
 'ameiurus_spp': 'ameiurus_spp',
 'bowfin': 'amia_calva',
 'bowfins': 'amiidae_spp',
 'eastern_sand_darter': 'ammocrypta_pellucida',
 'american_sand_lance': 'ammodytes_americanus',
 'northern_sand_lance': 'ammodytes_dubius',
 'pacific_sand_lance': 'ammodytes_hexapterus',
 'ammodytes_spp': 'ammodytidae_spp',
 'ammodytidae': 'ammodytidae_spp',
 'sand_lance_sp.': 'ammodytidae_spp',
 'sand_lances': 'ammodytidae_spp',
 'sandlance': 'ammodytidae_spp',
 'amphiophiura_ponderosa': 'amphiophiura_ponderosa',
 'northern_wolffish': 'anarhichas_denticulatus',
 'atlantic_wolffish_(striped)': 'anarhichas_lupus',
 'spotted_wolffish': 'anarhichas_minor',
 'wolf_eel': 'anarrhichthys_ocellatus',
 'american_eel': 'anguilla_rostrata',
 'freshwater_eels': 'anguillidae_spp',
 'stout_eelblenny': 'anisarchus_medius',
 'smooth_alligatorfish': 'anoplagonus_inermis',
 'sablefish': 'anoplopoma_fimbria',
 'fourspine_stickleback': 'apeltes_quadracus',
 'four_spine_stickleback': 'apeltes_quadracus',
 'freshwater_drum': 'aplodinotus_grunniens',
 'white_barracudina': 'arctozenus_risso',
 'atlantic_argentine': 'argentina_silus',
 'atlantic_hookear_sculpin': 'artediellus_atlanticus',
 'arctic_hookear_sculpin': 'artediellus_uncinatus',
 'spinynose_sculpin': 'asemichthys_taylori',
 'alligatorfish': 'aspidophoroides_monopterygius',
 'arrowtooth_flounder': 'atheresthes_stomias',
 'atherinopsidae': 'atherinopsidae_spp',
 'new_world_silversides': 'atherinopsidae_spp',
 'tube_snout': 'aulorhynchus_spp',
 'tube-snout': 'aulorhynchus_spp',
 'tubesnout': 'aulorhynchus_spp',
 'blackfin_poacher': 'bathyagonus_nigripinnis',
 'bigeye_poacher': 'bathyagonus_pentacanthus',
 'blue-eyed_searcher': 'bathymaster_signatus',
 'glacier_lanternfish': 'benthosema_glaciale',
 'silverspotted_sculpin': 'blepsias_cirrhosus',
 'silver_spotted_sculpin': 'blepsias_cirrhosus',
 'polar_cod': 'boreogadus_saida',
 'kelp_perch': 'brachyistius_frenatus',
 'central_stoneroller': 'campostoma_anomalum',
 'dungeness_crab': 'cancer_magister',
 'goldfish': 'carassius_auratus',
 'goldfish_x_carp': 'carassius_auratus_x_cyprinus_carpio',
 'prussian_carp': 'carassius_gibelio',
 'smalldisk_snailfish': 'careproctus_gilberti',
 'blacktail_snailfish': 'careproctus_melanurus',
 'sea_tadpole': 'careproctus_reinhardti',
 'quillback': 'carpiodes_cyprinus',
 'catostomidae': 'catostomidae_spp',
 'catostomid_sp.': 'catostomidae_spp',
 'suckers': 'catostomidae_spp',
 'sucker_family': 'catostomidae_spp',
 'sucker': 'catostomidae_spp',
 'sucker_hybrids': 'catostomidae_spp',
 'longnose_sucker': 'catostomus_catostomus',
 'salish_sucker': 'catostomus_catostomus',
 'bridgelip_sucker': 'catostomus_columbianus',
 'white_sucker': 'catostomus_commersonii',
 'largescale_sucker': 'catostomus_macrocheilus',
 'mountain_sucker': 'catostomus_platyrhynchus',
 'northern_mountain_sucker': 'catostomus_platyrhynchus',
 'sucker_sp.': 'catostomidae_spp',
 'catostomus_spp': 'catostomidae_spp',
 'bass/sunfish': 'centrarchidae_spp',
 'sunfishes': 'centrarchidae_spp',
 'sunfish_hybrids': 'centrarchidae_spp',
 'black_dogfish': 'centroscyllium_fabricii',
 'foliate_thornmouth': 'ceratostoma_foliatum',
 'basking_shark': 'cetorhinus_maximus',
 'blotched_snakehead': 'channa_maculata',
 'viperfishes': 'chauliodontinae',
 'pacific_viperfish': 'chauliodus_macouni',
 "sloane's_viperfish": 'chauliodus_sloani',
 'cheiraster_dawsoni': 'cheiraster_dawsoni',
 'warty_poacher': 'chesnonia_verrucosa',
 'roughback_sculpin': 'chitonotus_pugetensis',
 'northern_redbelly_dace': 'chrosomus_eos',
 'chrosomus_eos_×_chrosomus_neogaeus': 'chrosomus_eos_x_chrosomus_neogaeus',
 'northern_redbelly_dace_x_finescale_dace': 'chrosomus_eos_x_chrosomus_neogaeus',
 'northern_redbelly_dace_x_northern_pearl_dace': 'chrosomus_eos_x_margariscus_nachtriebi',
 'finescale_dace': 'chrosomus_neogaeus',
 'finescale_dace_x_northern_pearl_dace': 'chrosomus_neogaeus_x_margariscus_nachtriebi',
 'chrosomus_spp': 'chrosomus_spp',
 'chrosomus_hybrids': 'chrosomus_spp',
 'cichlidae': 'cichlidae_spp',
 'cichlid': 'cichlidae_spp',
 'chinese_mystery_snail': 'cipangopaludina_chinensis',
 'pacific_sanddab': 'citharichthys_sordidus',
 'speckled_sanddab': 'citharichthys_stigmaeus',
 'sharpnose_sculpin': 'clinocottus_acuticeps',
 'redside_dace': 'clinostomus_elongatus',
 'atlantic_herring': 'clupea_harengus',
 'pacific_herring': 'clupea_pallasii',
 'herrings': 'clupeidae_spp',
 'herring': 'clupeidae_spp',
 'pacific_saury': 'cololabis_saira',
 'whitefish_subfamily': 'coregoninae_spp',
 'whitefish_hybrids': 'coregoninae_spp',
 'longjaw_cisco': 'coregonus_alpenae',
 'cisco': 'coregonus_artedi',
 'tullibee_(cisco)': 'coregonus_artedi',
 'lake_herring': 'coregonus_artedi',
 'lake_cisco': 'coregonus_artedi',
 'tullibee_(cisco)_x_lake_whitefish': 'coregonus_artedi_x_coregonus_clupeaformis',
 'arctic_cisco': 'coregonus_autumnalis',
 'lake_whitefish': 'coregonus_clupeaformis',
 'humpback_whitefish': 'coregonus_clupeaformis',
 'whitefish': 'coregonus_clupeaformis',
 'lake_whitefish_x_cisco': 'coregonus_clupeaformis_x_coregonus_artedi',
 'bloater': 'coregonus_hoyi',
 'atlantic_whitefish': 'coregonus_huntsmani',
 'deepwater_cisco': 'coregonus_johannae',
 'kiyi': 'coregonus_kiyi',
 'bering_cisco': 'coregonus_laurettae',
 'squanga': 'coregonus_lavaretus',
 'broad_whitefish': 'coregonus_nasus',
 'blackfin_cisco': 'coregonus_nigripinnis',
 'nipigon_cisco': 'coregonus_nipigon',
 'shortnose_cisco': 'coregonus_reighardi',
 'least_cisco': 'coregonus_sardinella',
 'coregonus_spp': 'coregonus_spp',
 'shortjaw_cisco': 'coregonus_zenithicus',
 'sculpin_hybrids': 'cottoidae_spp',
 'sculpin_sp.': 'cottoidea_spp',
 'sculpins_general': 'cottoidea_spp',
 'sculpin': 'cottoidea_spp',
 'sculpins': 'cottoidea_spp',
 'sculpin_spp': 'cottoidea_spp',
 'polar_sculpin': 'cottunculus_microps',
 'cultus_lake_sculpin': 'cottus_aleuticus',
 'coastrange_sculpin': 'cottus_aleuticus',
 'prickly_sculpin': 'cottus_asper',
 'mottled_sculpin': 'cottus_bairdii',
 'columbia_sculpin': 'cottus_bairdii',
 'mottled_sculpin_x_slimy_sculpin': 'cottus_bairdii_x_cottus_cognatus',
 'slimy_sculpin': 'cottus_cognatus',
 'shorthead_sculpin': 'cottus_confusus',
 'torrent_sculpin': 'cottus_rhotheus',
 'spoonhead_sculpin': 'cottus_ricei',
 'rocky_mountain_sculpin': 'cottus_spp',
 'cottus_spp': 'cottus_spp',
 'lake_chub': 'couesius_plumbeus',
 'dwarf_wrymouth': 'cryptacanthodes_aleutensis',
 'giant_wrymouth': 'cryptacanthodes_giganteus',
 'wrymouth': 'cryptacanthodes_maculatus',
 'triplewart_seadevil': 'cryptopsaras_couesii',
 'grass_carp': 'ctenopharyngodon_idella',
 'brook_stickleback': 'culaea_inconstans',
 'lumpfishes': 'cyclopteridae_spp',
 'lumpfish': 'cyclopterus_lumpus',
 'veiled_anglemouth': 'cyclothone_microdon',
 'shiner_perch': 'cymatogaster_aggregata',
 'spotfin_shiner': 'cyprinella_spploptera',
 'cyprinidae': 'cyprinidae_spp',
 'carp_sp.': 'cyprinidae_spp',
 'cyprinid_sp.': 'cyprinidae_spp',
 'minnow_family': 'cyprinidae_spp',
 'carps_&_minnows': 'cyprinidae_spp',
 'minnow_hybrids': 'cyprinidae_spp',
 'common_carp': 'cyprinus_carpio',
 'carp': 'cyprinus_carpio',
 'koi': 'cyprinus_rubrofuscus',
 'spinyhead_sculpin': 'dasycottus_setiger',
 'california_headlightfish': 'diaphus_theta',
 'american_gizzard_shad': 'dorosoma_cepedianum',
 'gizzard_shad': 'dorosoma_cepedianum',
 'deepsea_sole': 'embassichthys_bathybius',
 'striped_seaperch': 'embiotoca_lateralis',
 'surfperch': 'embiotocidae_spp',
 'fourbeard_rockling': 'enchelyopus_cimbrius',
 'northern_anchovy': 'engraulis_mordax',
 'buffalo_sculpin': 'enophrys_bison',
 'lake_lamprey': 'entosphenus_macrostomus',
 'pacific_lamprey': 'entosphenus_tridentatus',
 'petrale_sole': 'eopsetta_jordani',
 'black_hagfish': 'eptatretus_deani',
 'pacific_hagfish': 'eptatretus_stoutii',
 'gravel_chub': 'erimystax_x_punctata',
 'lake_chubsucker': 'erimyzon_sucetta',
 'pikes_and_mudminnows': 'esocidae_spp',
 'pike_hybrids': 'esocidae_spp',
 'redfin_pickerel': 'esox_americanus',
 'esox_amricanus': 'esox_americanus',
 'grass_pickerel': 'esox_americanus',
 'northern_pike': 'esox_lucius',
 'northern_pike_x_grass_pickerel': 'esox_lucius_x_esox_americanus_vermiculatus',
 'northern_pike_x_muskellunge': 'esox_lucius_x_esox_masquinongy',
 'muskellunge': 'esox_masquinongy',
 'chain_pickerel': 'esox_niger',
 'esox_spp': 'esox_spp',
 'greenside_darter': 'etheostoma_blennioides',
 'rainbow_darter': 'etheostoma_caeruleum',
 'iowa_darter': 'etheostoma_exile',
 'fantail_darter': 'etheostoma_flabellare',
 'least_darter': 'etheostoma_microperca',
 'johnny_darter': 'etheostoma_nigrum',
 'johnny_darter_x_tesselated_darter': 'etheostoma_nigrum_x_etheostoma_olmstedi',
 'tessellated_darter': 'etheostoma_olmstedi',
 'smoothbelly_darters_sp.': 'etheostoma_spp',
 'etheostoma_spp': 'etheostoma_spp',
 'fourline_snakeblenny': 'eumesogrammus_praecisus',
 'pacific_spiny_lumpsucker': 'eumicrotremus_orbis',
 'atlantic_spiny_lumpsucker': 'eumicrotremus_spinosus',
 'cutlip_minnow': 'exoglossum_maxillingua',
 'fundulidae': 'fundulidae_spp',
 'topminnows': 'fundulidae_spp',
 'banded_killifish': 'fundulus_diaphanus',
 'mummichog': 'fundulus_heteroclitus',
 'blackstripe_topminnow': 'fundulus_notatus',
 'codfish': 'gadidae_spp',
 'cods': 'gadidae_spp',
 'pacific_cod': 'gadus_macrocephalus',
 'atlantic_cod': 'gadus_morhua',
 'greenland_cod': 'gadus_ogac',
 'cods_group': 'gadus_spp',
 'cod': 'gadus_spp',
 'cod_spp': 'gadus_spp',
 'silver_rockling': 'gaidropsarus_argentatus',
 'threebeard_rockling': 'gaidropsarus_ensis',
 'tope_shark': 'galeorhinus_galeus',
 'soupfin_shark': 'galeorhinus_galeus',
 'gasterosteidae': 'gasterosteidae_spp',
 'sticklebacks_gneral': 'gasterosteidae_spp',
 'stickleback': 'gasterosteidae_spp',
 'sticklebacks': 'gasterosteidae_spp',
 'three-spined_stickleback': 'gasterosteus_aculeatus',
 'threespine_stickleback': 'gasterosteus_aculeatus',
 'three_spine_stickleback': 'gasterosteus_aculeatus',
 'three-spine_stickleback': 'gasterosteus_aculeatus',
 'gasterosteus aculeatus': 'gasterosteus_aculeatus',
 'hadley_lake_limnetic_stickleback': 'gasterosteus_aculeatus',
 'unarmoured_stickleback': 'gasterosteus_aculeatus',
 'charlotte_unarmoured_stickleback': 'gasterosteus_aculeatus',
 'balkwill_lake_benthic_stickleback': 'gasterosteus_aculeatus',
 'priest_lake_benthic_stickleback': 'gasterosteus_aculeatus',
 'priest_lake_limnetic_stickleback': 'gasterosteus_aculeatus',
 'balkwill_lake_limnetic_stickleback': 'gasterosteus_aculeatus',
 'giant_stickleback': 'gasterosteus_aculeatus',
 'paxton_lake_benthic_stickleback': 'gasterosteus_aculeatus',
 'hadley_lake_benthic_stickleback': 'gasterosteus_aculeatus',
 'emily_lake_benthic_stickleback': 'gasterosteus_aculeatus',
 'emily_lake_limnetic_stickleback': 'gasterosteus_aculeatus',
 'misty_lake_lake_stickleback': 'gasterosteus_aculeatus',
 'misty_lake_stream_stickleback': 'gasterosteus_aculeatus',
 'enos_lake_benthic_stickleback': 'gasterosteus_aculeatus',
 'enos_lake_limnetic_stickleback': 'gasterosteus_aculeatus',
 'paxton_lake_limnetic_stickleback': 'gasterosteus_aculeatus',
 'lake_sticklebacks': 'gasterosteus_aculeatus',
 'witch_flounder': 'glyptocephalus_cynoglossus',
 'rex_sole': 'glyptocephalus_zachirus',
 'northern_clingfish': 'gobiesox_maeandricus',
 'gobies': 'gobiidae_spp',
 'fish_doctor': 'gymnelus_viridis',
 'arctic_staghorn_sculpin': 'gymnocanthus_tricuspis',
 'ruffe': 'gymnocephalus_cernua',
 'red_irish_lord': 'hemilepidotus_hemilepidotus',
 'brown_irish_lord': 'hemilepidotus_spinosus',
 'sea_raven': 'hemitripterus_americanus',
 'bigmouth_sculpin': 'hemitripterus_bolini',
 'greenling': 'hexagrammidae_spp',
 'kelp_greenling': 'hexagrammos_decagrammus',
 'greenling_spp': 'hexagrammos_spp',
 'whitespotted_greenling': 'hexagrammos_stelleri',
 'goldeye': 'hiodon_alosoides',
 'mooneye': 'hiodon_tergisus',
 'mooneyes': 'hiodontidae_spp',
 'flathead_sole': 'hippoglossoides_elassodon',
 'american_plaice': 'hippoglossoides_platessoides',
 'atlantic_halibut': 'hippoglossus_hippoglossus',
 'pacific_halibut': 'hippoglossus_stenolepis',
 'western_silvery_minnow': 'hybognathus_argyritis',
 'brassy_minnow': 'hybognathus_hankinsoni',
 'eastern_silvery_minnow': 'hybognathus_regius',
 'hybognathus_spp': 'hybognathus_spp',
 'hybopsis_spp': 'hybopsis_spp',
 'spotted_ratfish': 'hydrolagus_colliei',
 'northern_hog_sucker': 'hypentelium_nigricans',
 'silver_surfperch': 'hyperprosopon_ellipticum',
 'surf_smelt': 'hypomesus_pretiosus',
 'silver_carp': 'hypophthalmichthys_molitrix',
 'bighead_carp': 'hypophthalmichthys_nobilis',
 'fourhorn_poacher': 'hypsagonus_quadricornis',
 'northern_sculpin': 'icelinus_borealis',
 'dusky_sculpin': 'icelinus_burchami',
 'threadfin_sculpin': 'icelinus_filamentosus',
 'spotfin_sculpin': 'icelinus_tenuis',
 'twohorn_sculpin': 'icelus_bicornis',
 'spatulate_sculpin': 'icelus_spatula',
 'thorny_sculpin': 'icelus_spiniger',
 'northern_brook_lamprey': 'ichthyomyzon_fossor',
 'ichthyomyzon_spp': 'ichthyomyzon_spp',
 'silver_lamprey': 'ichthyomyzon_unicuspis',
 'ragfish': 'icosteus_aenigmaticus',
 'north_american_catfishes': 'ictaluridae_spp',
 'north_american_catfishes_hybrids': 'ictaluridae_spp',
 'channel_catfish': 'ictalurus_punctatus',
 'ictalurus_spp': 'ictalurus_spp',
 'chestnut_lamprey': 'icthyomyzon_castaneus',
 'smallmouth_buffalo': 'ictiobus_bubalus',
 'bigmouth_buffalo': 'ictiobus_cyprinellus',
 'ictiobus_hybrids': 'ictiobus_hybrids',
 'black_buffalo': 'ictiobus_niger',
 'ictiobus_spp': 'ictiobus_spp',
 'butter_sole': 'isopsetta_isolepis',
 'brook_silverside': 'labidesthes_sicculus',
 'mirror_lampfish': 'lampadena_speculigera',
 'river_lamprey': 'lampetra_fluviatilis',
 'western_brook_lamprey': 'lampetra_richardsoni',
 'morrison_creek_lamprey': 'lampetra_richardsoni',
 'southern_rock_sole': 'lepidopsetta_bilineata',
 'gars': 'lepisosteidae_spp',
 'spotted_gar': 'lepisosteus_oculatus',
 'longnose_gar': 'lepisosteus_osseus',
 'florida_gar': 'lepisosteus_platyrhinchus',
 'lepisosteus_spp': 'lepisosteus_spp',
 'green_sunfish': 'lepomis_cyanellus',
 'green_sunfish_x_pumpkinseed': 'lepomis_cyanellus_x_lepomis_gibbosus',
 'green_sunfish_x_bluegill': 'lepomis_cyanellus_x_lepomis_macrochirus',
 'green_sunfish_x_northern_sunfish': 'lepomis_cyanellus_x_lepomis_peltastes',
 'pumpkinseed': 'lepomis_gibbosus',
 'pumpkinseed_x_orangespotted_sunfish': 'lepomis_gibbosus_x_lepomis_humilis',
 'pumpkinseed_x_bluegill': 'lepomis_gibbosus_x_lepomis_macrochirus',
 'warmouth': 'lepomis_gulosus',
 'orangespotted_sunfish': 'lepomis_humilis',
 'lepomis_hybrids': 'lepomis_hybrids',
 'bluegill': 'lepomis_macrochirus',
 'longear_sunfish': 'lepomis_megalotis',
 'northern_sunfish': 'lepomis_peltastes',
 'lepomis_spp': 'lepomis_spp',
 'atlantic_poacher': 'leptagonus_decagonus',
 'daubed_shanny': 'leptoclinus_maculatus',
 'staghorn_sculpin': 'leptocottus_armatus',
 'pacific_staghorn_sculpin': 'leptocottus_armatus',
 'slender_barracudina': 'lestidiops_ringens',
 'american_brook_lamprey': 'lethenteron_appendix',
 'arctic_lamprey': 'lethenteron_camtschaticum',
 'dace': 'leuciscus_leuciscus',
 'northern_smoothtongue': 'leuroglossus_schmidti',
 'yellowfin_sole': 'limanda_aspera',
 'yellowtail_flounder': 'limanda_ferruginea',
 'snailfishes': 'liparidae_spp',
 'snailfish_spp': 'liparidae_spp',
 'atlantic_snailfish': 'liparis_atlanticus',
 'gelatinous_seasnail': 'liparis_fabricii',
 'variegated_snailfish': 'liparis_gibbus',
 'bartail_snailfish': 'liparis_tunicatus',
 'monkfish': 'lophius_americanus',
 'burbot': 'lota_lota',
 'slender_eelblenny': 'lumpenus_fabricii',
 'snakeblenny': 'lumpenus_lampretaeformis',
 'snake_prickleback': 'lumpenus_sagitta',
 'striped_shiner_x_rosyface_shiner': 'luxilus_chrysocephalus_x_notropis_rubellus',
 'striped_shiner_x_mimic_shiner': 'luxilus_chrysocephalus_x_notropis_volucellus',
 'common_shiner': 'luxilus_cornutus',
 'common_shiner_x_brassy_minnow': 'luxilus_cornutus_x_hybognathus_hankinsoni',
 'common_shiner_x_river_chub': 'luxilus_cornutus_x_nocomis_micropogon',
 'common_shiner_x_rosyface_shiner': 'luxilus_cornutus_x_notropis_rubellus',
 'common_shiner_x_longnose_dace': 'luxilus_cornutus_x_rhinichthys_cataractae',
 'common_shiner_x_creek_chub': 'luxilus_cornutus_x_semotilus_atromaculatus',
 'luxilus_spp': 'luxilus_spp',
 'shortjaw_eelpout': 'lycenchelys_jordani',
 'northern_wolf_eel': 'lycenchelys_paxillus',
 'wolf_eelpout': 'lycenchelys_verrillii',
 'pallid_eelpout': 'lycodapus_mandibularis',
 'shortfin_eelpout': 'lycodes_brevipes',
 'bigfin_eelpout': 'lycodes_cortezianus',
 'black_eelpout': 'lycodes_diapterus',
 'greater_eelpout_(esmark)': 'lycodes_esmarkii',
 'newfoundland_eelpout': 'lycodes_lavalaei',
 'blackbelly_eelpout': 'lycodes_pacificus',
 'wattled_eelpout': 'lycodes_palearis',
 'pale_eelpout': 'lycodes_pallidus',
 'arctic_eelpout': 'lycodes_reticulatus',
 'atlantic_eelpout': 'lycodes_terraenovae',
 'checker_eelpout': 'lycodes_vahlii',
 'slender_sole': 'lyopsetta_exilis',
 'redfin_shiner': 'lythrurus_umbratilis',
 'silver_chub': 'macrhybopsis_storeriana',
 'whitetail_sculpin': 'malacocottus_aleuticus',
 'blackfin_sculpin': 'malacocottus_kincaidi',
 'darkfin_sculpin': 'malacocottus_zonurus',
 'capelin': 'mallotus_villosus',
 'pearl_dace': 'margariscus_margarita',
 'northern_pearl_dace': 'margariscus_margarita',
 'humpback_whale': 'megaptera_novaeangliae',
 'hump-backed_whale': 'megaptera_novaeangliae',
 'humpback_or_hump-backed_whale': 'megaptera_novaeangliae',
 'haddock': 'melanogrammus_aeglefinus',
 'atlantic_soft_pout': 'melanostigma_atlanticum',
 'atlantic_silverside_': 'menidia_menidia',
 'atlantic_silverside': 'menidia_menidia',
 'silver_hake': 'merluccius_bilinearis',
 'pacific_hake': 'merluccius_productus',
 'pacific_tomcod': 'microgadus_proximus',
 'atlantic_tomcod': 'microgadus_tomcod',
 'tomcod': 'microgadus_tomcod',
 'blue_whiting': 'micromesistius_poutassou',
 'smallmouth_bass': 'micropterus_dolomieu',
 'largemouth_bass': 'micropterus_salmoides',
 'bass_sp.': 'micropterus_spp',
 'micropterus_spp': 'micropterus_spp',
 'dover_sole': 'microstomus_pacificus',
 'spotted_sucker': 'minytrema_melanops',
 'oriental_weatherfish': 'misgurnus_anguillicaudatus',
 'sunfish': 'mola_mola',
 'ocean_sunfish': 'mola_mola',
 'sunfishes_group': 'molidae_spp',
 'white_perch': 'morone_americana',
 'white_bass': 'morone_chrysops',
 'white_bass_x_striped_bass': 'morone_chrysops_x_morone_saxatilis',
 'striped_bass': 'morone_saxatilis',
 'morone_spp': 'moronidae_spp',
 'morone_hybrids': 'moronidae_spp',
 'temperate_basses': 'moronidae_spp',
 'moronidae_hybrids': 'moronidae_spp',
 'silver_redhorse': 'moxostoma_anisurum',
 'river_redhorse': 'moxostoma_carinatum',
 'black_redhorse': 'moxostoma_duquesnei',
 'golden_redhorse': 'moxostoma_erythrurum',
 'copper_redhorse': 'moxostoma_hubbsi',
 'shorthead_redhorse': 'moxostoma_macrolepidotum',
 'redhorse_sp.': 'moxostoma_spp',
 'moxostoma_spp': 'moxostoma_spp',
 'greater_redhorse': 'moxostoma_valenciennesi',
 'myctophidae': 'myctophidae_spp',

In [6]:
species_name_df = pd.DataFrame.from_dict({'common_name': list(dict_species_name.keys()), 
                                        'scientific_name' : list(dict_species_name.values())})
# species_name_df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/species_name_dictionary.csv', index=False)

# Compiling stuff

### Individual Species

In [7]:
path = '/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/Individual_species/'
indiv_df = []

for file in os.listdir(path):
    df = pd.read_csv(f'{path}{file}')
    print(df['scientificName'].unique()[0])
    df = df[['scientificName', 'year', 'decimalLongitude', 'decimalLatitude', 'class', 'waterBody']]
    
    df = df[df['class'].isin(['Actinopterygii'])]
    df.rename(columns={'decimalLongitude': 'longitude', 'decimalLatitude': 'latitude', 'date_year': 'year', 
                       'waterBody': 'waterbody_name'}, inplace=True)
    df.drop(columns=['class'], inplace=True)
    
    df['scientificName'] = df['scientificName'].str.lower().str.replace(' ', '_')
    df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)
    
    indiv_df.append(df)

df = pd.concat(indiv_df)

print(len(df))
df = df[~df['scientificName'].isin(['actinopterygii'])]
df.drop_duplicates(inplace=True)
df.dropna(subset=['year'], inplace=True)
print(len(df))

df.head()

Gadus morhua
Lepomis gibbosus
Moxostoma macrolepidotum

/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (35,119,142,222) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Morone americana
Lepisosteus osseus
Ameiurus nebulosus
Carassius auratus
Gadus morhua

/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Tagged
Xiphias gladius
Anguilla rostrata
Cyprinus carpio
261783
9524

/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (14,33,51,69,74,126,222,227) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,scientificName,year,longitude,latitude,waterbody_name,lat_long
0,gadus_morhua,2003.0,-67.34,62.85,Ogac Lake,62.85_-67.34
1,gadus_morhua,2004.0,-67.34,62.85,Ogac Lake,62.85_-67.34
2,gadus_morhua,2003.0,-67.47,65.54,Tariujuarusiq Lake,65.54_-67.47
13,gadus_morhua,2003.0,-68.20,65.78,Qasigialiminiq Lake,65.78_-68.2
17,gadus_morhua,2005.0,-67.34,62.85,Ogac Lake,62.85_-67.34

In [8]:
for col in df['scientificName'].unique():
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.head())

,scientificName,year,longitude,latitude,waterbody_name,lat_long,gadus_morhua,lepomis_gibbosus,moxostoma_macrolepidotum,morone_americana,lepisosteus_osseus,ameiurus_nebulosus,carassius_auratus,xiphias_gladius,cyprinus_carpio
0,gadus_morhua,2003.0,-67.34,62.85,Ogac Lake,62.85_-67.34,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gadus_morhua,2004.0,-67.34,62.85,Ogac Lake,62.85_-67.34,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,gadus_morhua,2003.0,-67.47,65.54,Tariujuarusiq Lake,65.54_-67.47,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,gadus_morhua,2003.0,-68.20,65.78,Qasigialiminiq Lake,65.78_-68.2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,gadus_morhua,2005.0,-67.34,62.85,Ogac Lake,62.85_-67.34,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(len(df))
df.drop(columns=['scientificName'], inplace=True)
df.drop_duplicates(inplace=True)
print(len(df))

display(df.sample(5))
df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/Processed/indiv_occurence.csv', index=True)

9524
8979

,year,longitude,latitude,waterbody_name,lat_long,gadus_morhua,lepomis_gibbosus,moxostoma_macrolepidotum,morone_americana,lepisosteus_osseus,ameiurus_nebulosus,carassius_auratus,xiphias_gladius,cyprinus_carpio
155764,1964.0,-50.50,45.25000,Atlantic Ocean,45.25_-50.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34707,1980.0,-51.50,49.75000,Atlantic Ocean,49.75_-51.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4635,1967.0,13.78,45.64861,NaN,45.649_13.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5477,1956.0,-52.50,47.75000,Atlantic Ocean,47.75_-52.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26714,1982.0,-50.50,52.25000,Atlantic Ocean,52.25_-50.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Acer FIsh

In [10]:
# acer temporalpatterns

df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/To_look_at/acer_temporal_patterns.csv')

df['scientificName'] = df['scientificName'].str.lower().str.replace(' ', '_')
df = df[['scientificName', 'year', 'decimalLongitude', 'decimalLatitude', 'waterBody', 'class']]
df = df[df['class'].isin(['Actinopterygii'])]
df.rename(columns={'decimalLongitude': 'longitude', 'decimalLatitude': 'latitude', 'date_year': 'year', 
                   'waterBody': 'waterbody_name'}, inplace=True)
df.drop(columns=['class'], inplace=True)

df['scientificName'] = df['scientificName'].str.lower().str.replace(' ', '_')
df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)
# df['waterBody'] = 'Bay_of_Fundy'

df.head()

,scientificName,year,longitude,latitude,waterbody_name,lat_long
0,microgadus_tomcod,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106
1,alosa_sapidissima,2013,-64.174962,45.182148,Minas Basin>Bay of Fundy,45.182_-64.175
2,scomber_scombrus,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106
3,alosa,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106
4,alosa_sapidissima,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106

In [11]:
for col in df['scientificName'].unique():
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.head())

,scientificName,year,longitude,latitude,waterbody_name,lat_long,microgadus_tomcod,alosa_sapidissima,scomber_scombrus,alosa,...,morone_americana,alosa_pseudoharengus,salvelinus_fontinalis,pleuronectes_putnami,lophius_americanus,anguilla_rostrata,urophycis_chuss,syngnathus_fuscus,tautogolabrus_adspersus,salmo_trutta
0,microgadus_tomcod,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106,1.0,1.0,1.0,1.0,...,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0
1,alosa_sapidissima,2013,-64.174962,45.182148,Minas Basin>Bay of Fundy,45.182_-64.175,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN
2,scomber_scombrus,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106,1.0,1.0,1.0,1.0,...,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0
3,alosa,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106,1.0,1.0,1.0,1.0,...,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0
4,alosa_sapidissima,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106,1.0,1.0,1.0,1.0,...,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0

In [12]:
print(len(df))
df.drop(columns=['scientificName'], inplace=True)
df.drop_duplicates(inplace=True)
print(len(df))

display(df.head())
df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/Processed/acer_temporal_2013_occurence.csv', index=True)

398
2

,year,longitude,latitude,waterbody_name,lat_long,microgadus_tomcod,alosa_sapidissima,scomber_scombrus,alosa,osmerus_mordax_mordax,...,morone_americana,alosa_pseudoharengus,salvelinus_fontinalis,pleuronectes_putnami,lophius_americanus,anguilla_rostrata,urophycis_chuss,syngnathus_fuscus,tautogolabrus_adspersus,salmo_trutta
0,2013,-64.105880,45.398640,Minas Basin>Bay of Fundy,45.399_-64.106,1.0,1.0,1.0,1.0,1.0,...,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0
1,2013,-64.174962,45.182148,Minas Basin>Bay of Fundy,45.182_-64.175,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN

### Atlantic Museum

In [ ]:
# Atlantic museum

df = pd.read_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/To_look_at/atlantic_museum.csv')

df['scientificName'] = df['scientificName'].str.lower().str.replace(' ', '_')
df = df[['scientificName', 'year', 'decimalLongitude', 'decimalLatitude', 'class']]
df = df[df['class'].isin(['Actinopterygii'])]
df.rename(columns={'decimalLongitude': 'longitude', 'decimalLatitude': 'latitude', 'date_year': 'year'}, inplace=True)
df.drop(columns=['class'], inplace=True)

df['scientificName'] = df['scientificName'].str.lower().str.replace(' ', '_')
df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)

print(len(df))
df = df[~df['scientificName'].isin(['actinopterygii'])]
df.drop_duplicates(inplace=True)
print(len(df))

df.head()

In [ ]:
print(df['year'].min(), df['year'].max())

In [ ]:
%%time
for col in tqdm(df['scientificName'].unique()):
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.head())

In [ ]:
print(len(df))
df.drop(columns=['scientificName'], inplace=True)
df.drop_duplicates(inplace=True)
print(len(df))

display(df.head())
# df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/Processed/atlantic_museum_1929_2015_occurence.csv', 
#           index=True)

### DFO

In [ ]:
path = '/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/DFO/'
indiv_df = []

for file in tqdm(os.listdir(path)):
    df = pd.read_csv(f'{path}{file}')
    print(len(df))
    df = df[['scientificName', 'year', 'decimalLongitude', 'decimalLatitude', 'class']]
    
    df = df[df['class'].isin(['Actinopterygii'])]
    df.rename(columns={'decimalLongitude': 'longitude', 'decimalLatitude': 'latitude', 'date_year': 'year'}, inplace=True)
    df.drop(columns=['class'], inplace=True)
    
    df['scientificName'] = df['scientificName'].str.lower().str.replace(' ', '_')
    df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)
    
    indiv_df.append(df)

df = pd.concat(indiv_df)

print('ALL: 'len(df))
df = df[~df['scientificName'].isin(['actinopterygii'])]
df.drop_duplicates(inplace=True)
df.dropna(subset=['year'], inplace=True)
print(len(df))

df.head()

In [ ]:
%%time
for col in tqdm(df['scientificName'].unique()):
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.head())

In [ ]:
print(len(df))
df.drop(columns=['scientificName'], inplace=True)
df.drop_duplicates(inplace=True)
print(len(df))

display(df.head())
df.to_csv('/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/Processed/dfo_data_1953_2019_occurence.csv', 
          index=True)

### Combining rest, can't anymore

In [7]:
path = '/mnt/c/Users/imrit/Downloads/Sharma_fish_project/OBIS/Give_up/'

indiv_df = []
for file in tqdm(os.listdir(path)):
    df = pd.read_csv(f'{path}{file}')
    print(f"{file.split('.csv')[0]} and # Records: {len(df)}")
    df = df[['scientificName', 'year', 'decimalLongitude', 'decimalLatitude', 'class', 'waterBody']]
    
    df = df[df['class'].isin(['Actinopterygii'])]
    df.rename(columns={'decimalLongitude': 'longitude', 'decimalLatitude': 'latitude', 'date_year': 'year', 
                       'waterBody': 'waterbody_name'}, inplace=True)
    df.drop(columns=['class'], inplace=True)
    
    df['scientificName'] = df['scientificName'].str.lower().str.replace(' ', '_')
    df['lat_long'] = df['latitude'].round(3).astype(str) + '_' + df['longitude'].round(3).astype(str)
    
    indiv_df.append(df)

df = pd.concat(indiv_df)

print('ALL: ', len(df))
df = df[~df['scientificName'].isin(['actinopterygii'])]
df.drop_duplicates(inplace=True)
df.dropna(subset=['year'], inplace=True)
print(len(df))

df.head()

  0%|          | 0/18 [00:00<?, ?it/s]/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (193) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

atlantic_museum and # Records: 106331

  6%|▌         | 1/18 [00:08<02:20,  8.24s/it]/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (180) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DFO_gulf_region_groundfish and # Records: 74792

 11%|█         | 2/18 [00:13<01:57,  7.37s/it]/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (24,86,172,184,213) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DFO_maritimes_groundfish_tagging and # Records: 271456

 17%|█▋        | 3/18 [00:35<02:55, 11.67s/it]/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (90,108) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DFO_maritimes_research_vessel and # Records: 157303

 22%|██▏       | 4/18 [00:47<02:46, 11.90s/it]/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (88,146,182,194) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DFO_NL_trawl and # Records: 540576

 33%|███▎      | 6/18 [01:27<02:53, 14.44s/it]

DFO_quebec_region_multispecies and # Records: 34401

 39%|███▉      | 7/18 [01:29<01:58, 10.73s/it]

DFO_stock_assessment and # Records: 38720

/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (192) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

ECNASAP and # Records: 456665

 56%|█████▌    | 10/18 [01:52<01:19,  9.96s/it]

ichthyoplankton and # Records: 85
NAFO_cod_fisheries and # Records: 706

 61%|██████    | 11/18 [01:52<00:49,  7.02s/it]

NAFO_environmental_surveys and # Records: 1642

 67%|██████▋   | 12/18 [01:52<00:29,  5.00s/it]

NAFO_historical_annual_fisheries and # Records: 614
Northern_Gulf_st_lawrence and # Records: 26811

 83%|████████▎ | 15/18 [01:54<00:08,  2.80s/it]

NSIS_malpeque_bay and # Records: 32
NSIS_salt_marsh and # Records: 5
nuseds_salmon and # Records: 162707

 89%|████████▉ | 16/18 [02:03<00:09,  4.57s/it]/home/arshad/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (87,109,193,205) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

pacific_species and # Records: 95450

100%|██████████| 18/18 [02:08<00:00,  7.13s/it]

shark and # Records: 1540
ALL:  1637740
1315020

,scientificName,year,longitude,latitude,waterbody_name,lat_long
1,teleostei,1987.0,-66.4186,43.917500,NaN,43.918_-66.419
2,lycodes,1960.0,-55.0333,54.866667,NaN,54.867_-55.033
3,hippoglossoides_platessoides,1985.0,-65.8283,42.751945,NaN,42.752_-65.828
4,scomber_scombrus,1983.0,-66.6800,42.496944,NaN,42.497_-66.68
5,clupea_harengus,1978.0,-66.2333,43.638332,NaN,43.638_-66.233

In [8]:
df['scientificName'].replace(dict_species_name, inplace=True)
display(df.head())

,scientificName,year,longitude,latitude,waterbody_name,lat_long
1,teleostei,1987.0,-66.4186,43.917500,NaN,43.918_-66.419
2,lycodes,1960.0,-55.0333,54.866667,NaN,54.867_-55.033
3,hippoglossoides_platessoides,1985.0,-65.8283,42.751945,NaN,42.752_-65.828
4,scomber_scombrus,1983.0,-66.6800,42.496944,NaN,42.497_-66.68
5,clupea_harengus,1978.0,-66.2333,43.638332,NaN,43.638_-66.233

In [9]:
# df_species_namessss = pd.Series(sorted(list(df['scientificName'].unique())))
# df_species_namessss.to_csv('/mnt/c/Users/imrit/Desktop/obis_names.csv', index=False)

df_species_namessss = pd.read_csv('/mnt/c/Users/imrit/Desktop/obis_names.csv')
dict_obis_names = dict(zip(df_species_namessss['obis_used_name'], df_species_namessss['obis_dict_names']))

In [10]:
df['scientificName'].replace(dict_obis_names, inplace=True)
df.head()

,scientificName,year,longitude,latitude,waterbody_name,lat_long
1,teleostei_spp,1987.0,-66.4186,43.917500,NaN,43.918_-66.419
2,lycodes_spp,1960.0,-55.0333,54.866667,NaN,54.867_-55.033
3,hippoglossoides_platessoides,1985.0,-65.8283,42.751945,NaN,42.752_-65.828
4,scomber_scombrus,1983.0,-66.6800,42.496944,NaN,42.497_-66.68
5,clupea_harengus,1978.0,-66.2333,43.638332,NaN,43.638_-66.233

In [12]:
print(len(df['scientificName'].unique()))
print(len(df['waterbody_name'].unique()))

1124
8

In [13]:
df.to_csv('/mnt/c/Users/imrit/Desktop/rest_of_OBIS.csv', index=False)

In [14]:
%%time
for col in tqdm(df['scientificName'].unique()):
    df[col] = np.where(df.isin([col]).any(1), 1, np.nan)
    df[col] = df[col].fillna(df.groupby(['year', 'lat_long'])[col].transform('mean'))
    
display(df.head())

  0%|          | 3/1182 [00:07<45:58,  2.34s/it]

KeyboardInterrupt:

In [21]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/FISS_OBSPT_processed_occurence_1894_2020.csv')
df = df[['NEW_WS_CD', 'WTRBDY_TYE', 'GZTTD_NM', 'latitude', 'longitude']]
df.drop_duplicates(inplace=True)
df

,NEW_WS_CD,WTRBDY_TYE,GZTTD_NM,latitude,longitude
0,390-137600-40800-00000-0000-0000-000-000-000-0...,Lake,THREE ISLAND LAKE,51.008779,-116.785807
1,128-994100-53400-00000-0000-0000-000-000-000-0...,Lake,MONTE LAKE,50.489991,-119.834209
2,349-434900-13700-77200-0000-0000-000-000-000-0...,Lake,HAHAS LAKE,49.749064,-115.816648
3,230-906800-97600-99700-9080-0000-000-000-000-0...,Lake,BOOT LAKE,54.312938,-122.737491
4,120-246600-51000-34100-0230-0000-000-000-000-0...,Lake,ALLEYNE LAKE,49.926224,-120.568237
...,...,...,...,...,...
50585,300-614500-00000-00000-0000-0000-000-000-000-0...,Lake,VIOLIN LAKE,49.028154,-117.709484
50588,920-384400-18800-00000-0000-0000-000-000-000-0...,Lake,OVERTON LAKE,49.097839,-123.949140
50591,100-385000-98600-22500-0000-0000-000-000-000-0...,Lake,JONES LAKE,52.080607,-121.894670
50735,905-124500-86600-00000-0000-0000-000-000-000-0...,Lake,GRAHAM LAKE,49.510726,-124.750104
50957,100-317400-47900-00000-0000-0000-000-000-000-0...,Lake,WHITE LAKE,51.397338,-121.898065

In [22]:
df.to_csv('/mnt/c/Users/imrit/Desktop/BC_lake_data.csv', index=False)

In [18]:
len(df['NEW_WS_CD'].unique())

2899