In [60]:
import pandas as pd
import geopandas as gpd
import geopy
import os

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm

In [11]:
locator = Nominatim(user_agent="myGeocoder", timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.0001)

In [12]:
rgeocode('47.021542,-70.67660500000001')

Location(Sentier de la Croix Celtique, Saint-Antoine-de-l'Isle-aux-Grues, Montmagny (MRC), Chaudière-Appalaches, Québec, Canada, (47.0189592, -70.677171, 0.0))

In [7]:
df_canada_2 = pd.read_csv('/mnt/c/Users/imrit/Desktop/jul_09_unidentified_canada_2.csv')
df_canada_2.head()

    latitude   longitude country                                lat_long
0  53.412647 -117.548862  Canada                   53.412647,-117.548862
1  53.409618 -117.548793  Canada                   53.409618,-117.548793
2  53.622878 -117.242724  Canada                   53.622878,-117.242724
3  53.944213 -117.052823  Canada                   53.944213,-117.052823
4  53.379281 -117.695261  Canada  53.379281000000006,-117.69526100000002

In [12]:
tqdm.pandas()

df_canada_2["address"] = df_canada_2['lat_long'].progress_apply(rgeocode)
df_canada_2.head()

  0%|          | 40/26951 [00:38<7:16:34,  1.03it/s]

KeyboardInterrupt:

In [126]:
one_df = pd.read_csv('/mnt/c/Users/imrit/Desktop/jul_09_unclassified_canada_1_address.csv')
two_df = pd.read_csv('/mnt/c/Users/imrit/Desktop/jul_09_unclassified_canada_2_address.csv')
three_df = pd.read_csv('/mnt/c/Users/imrit/Desktop/jul_09_unclassified_unknown_address.csv')

df = pd.concat([one_df, two_df, three_df]) 
display(df.head(), df.tail())

,latitude,longitude,country,lat_long,address
0,46.048779,-73.099504,Canada,"46.048779,-73.09950400000001","Rue Boucher, Sorel-Tracy, Pierre-De Saurel, Mo..."
1,47.214796,-70.273828,Canada,"47.214796,-70.27382800000001","Parc Nautique St-Jean Port-Joli, Rue des Pionn..."
2,45.920765,-75.245955,Canada,"45.920765,-75.24595500000001","Montpellier, Papineau, Outaouais, Québec, Canada"
3,45.932440,-75.257616,Canada,"45.93244,-75.257616","Accès chalet de la Bécasse, Montpellier, Papin..."
4,46.105279,-75.345767,Canada,"46.105279,-75.34576700000001","Notre-Dame-du-Laus, Antoine-Labelle, Laurentid..."

,latitude,longitude,country,lat_long,address
15662,56.07681,-131.0770,unknown,"56.07681,-131.077","Ketchikan Gateway, Alaska, United States"
15663,55.81748,-130.9333,unknown,"55.81748,-130.9333","Ketchikan Gateway, Alaska, United States"
15664,60.46359,-144.8892,unknown,"60.46359,-144.8892","Unorganized Borough, Alaska, United States"
15665,59.90721,-149.7385,unknown,"59.90721,-149.7385","Kenai Peninsula, Alaska, United States"
15666,64.50436,-165.4235,unknown,"64.50435999999999,-165.4235","Seppala Drive, Nome, Alaska, 99762, United States"

In [127]:
province_list = ['British Columbia', 'Alberta', 'Manitoba', 'Saskatchewan', 'Ontario', 'Québec', 'Yukon', 'Nova Scotia', 
                 'Nunavut', 'Alaska', 'Prince Edward Island', 'Newfoundland', 'New Brunswick', 'Northwest Territories', 
                 "Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", 
                 "District of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", 
                 "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", 
                 "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", 
                 "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", 
                 "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", 
                 "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

country_list = ['Canada', 'United States']

waterbody_type_list = ['LAKE', 'RIVER', 'POND', 'CREEK', 'lake', 'river', 'pond', 'creek']

In [128]:
len(province_list)

69

In [129]:
df['province'] = df['address'].str.extract("(" + "|".join(province_list) +")", expand=False)
df['country_from_add'] = df['address'].str.extract("(" + "|".join(country_list) +")", expand=False)
df

,latitude,longitude,country,lat_long,address,province,country_from_add
0,46.048779,-73.099504,Canada,"46.048779,-73.09950400000001","Rue Boucher, Sorel-Tracy, Pierre-De Saurel, Mo...",Québec,Canada
1,47.214796,-70.273828,Canada,"47.214796,-70.27382800000001","Parc Nautique St-Jean Port-Joli, Rue des Pionn...",Québec,Canada
2,45.920765,-75.245955,Canada,"45.920765,-75.24595500000001","Montpellier, Papineau, Outaouais, Québec, Canada",Québec,Canada
3,45.932440,-75.257616,Canada,"45.93244,-75.257616","Accès chalet de la Bécasse, Montpellier, Papin...",Québec,Canada
4,46.105279,-75.345767,Canada,"46.105279,-75.34576700000001","Notre-Dame-du-Laus, Antoine-Labelle, Laurentid...",Québec,Canada
...,...,...,...,...,...,...,...
15662,56.076810,-131.077000,unknown,"56.07681,-131.077","Ketchikan Gateway, Alaska, United States",Alaska,United States
15663,55.817480,-130.933300,unknown,"55.81748,-130.9333","Ketchikan Gateway, Alaska, United States",Alaska,United States
15664,60.463590,-144.889200,unknown,"60.46359,-144.8892","Unorganized Borough, Alaska, United States",Alaska,United States
15665,59.907210,-149.738500,unknown,"59.90721,-149.7385","Kenai Peninsula, Alaska, United States",Alaska,United States
15666,64.504360,-165.423500,unknown,"64.50435999999999,-165.4235","Seppala Drive, Nome, Alaska, 99762, United States",Alaska,United States

In [130]:
df.loc[df['province'].isna()]

,latitude,longitude,country,lat_long,address,province,country_from_add
19855,55.059771,-119.016021,Canada,"55.059771,-119.016021",NaN,NaN,NaN
19856,55.076208,-118.782228,Canada,"55.076208,-118.782228",NaN,NaN,NaN
19857,55.090593,-118.520124,Canada,"55.090593000000005,-118.520124",NaN,NaN,NaN
19858,55.069031,-118.997643,Canada,"55.069031,-118.997643",NaN,NaN,NaN
19859,55.072535,-118.801534,Canada,"55.072535,-118.801534",NaN,NaN,NaN
21466,48.350000,-70.566667,Canada,"48.35,-70.56666700000002",360,NaN,NaN
22784,44.574524,-79.574525,Canada,"44.574524,-79.574525",28,NaN,NaN
25553,67.000000,-134.984167,Canada,"67.0,-134.984167",Canada,NaN,Canada
25983,48.358333,-70.570833,Canada,"48.358333,-70.570833",360,NaN,NaN
25984,48.357222,-70.570833,Canada,"48.357222,-70.570833",360,NaN,NaN
26051,67.000000,-135.000000,Canada,"67.0,-135.0",Canada,NaN,Canada
26219,48.355000,-70.568056,Canada,"48.355,-70.568056",360,NaN,NaN
490,21.390000,-86.800000,unknown,"21.39,-86.8","Municipio de Isla Mujeres, Quintana Roo, México",NaN,NaN
2251,34.044500,-119.715500,unknown,"34.0445,-119.7155",United States,NaN,United States
2974,33.967500,-119.704170,unknown,"33.9675,-119.70417",United States,NaN,United States
2985,33.965619,-119.704193,unknown,"33.965619000000004,-119.704193",United States,NaN,United States
3003,34.038333,-119.703333,unknown,"34.038333,-119.703333",United States,NaN,United States
3862,34.055000,-119.920000,unknown,"34.055,-119.92",United States,NaN,United States
3898,34.052321,-119.917048,unknown,"34.052321,-119.917048",United States,NaN,United States
3958,34.028437,-120.410906,unknown,"34.028437,-120.410906","Wilson Rock, United States",NaN,United States
3991,34.055835,-119.754230,unknown,"34.055834999999995,-119.75423",United States,NaN,United States
4021,34.074293,-119.882000,unknown,"34.074293,-119.882",United States,NaN,United States
4022,34.038056,-119.700278,unknown,"34.038056,-119.700278",United States,NaN,United States
4027,34.040000,-119.705000,unknown,"34.04,-119.705",United States,NaN,United States
4057,33.962400,-119.708000,unknown,"33.9624,-119.708",United States,NaN,United States
4093,34.000000,-119.420000,unknown,"34.0,-119.42",United States,NaN,United States
4099,34.057372,-119.757564,unknown,"34.057371999999994,-119.757564",United States,NaN,United States
5184,34.012700,-119.352000,unknown,"34.0127,-119.352",United States,NaN,United States
5185,34.013400,-119.352000,unknown,"34.0134,-119.352",United States,NaN,United States
5186,33.984400,-119.589000,unknown,"33.9844,-119.589",United States,NaN,United States
5187,34.055000,-119.925000,unknown,"34.055,-119.925",United States,NaN,United States
5190,34.013400,-119.353000,unknown,"34.0134,-119.353",United States,NaN,United States
5195,34.001900,-119.422000,unknown,"34.0019,-119.422",United States,NaN,United States
5238,33.979000,-119.872000,unknown,"33.979,-119.872",United States,NaN,United States
5243,33.979000,-119.872002,unknown,"33.979,-119.872002",United States,NaN,United States
5291,34.050000,-119.920000,unknown,"34.05,-119.92",United States,NaN,United States
5316,34.052912,-119.918072,unknown,"34.052912,-119.918072",United States,NaN,United States
6892,34.056389,-119.775486,unknown,"34.056389,-119.775486",United States,NaN,United States
6895,34.054980,-119.819600,unknown,"34.05498,-119.8196",United States,NaN,United States
6917,34.057160,-119.783643,unknown,"34.05716,-119.783643",United States,NaN,United States
6930,34.055253,-119.753611,unknown,"34.055253,-119.753611",United States,NaN,United States
7129,34.025560,-120.421110,unknown,"34.02556,-120.42111","Wilson Rock, United States",NaN,United States
7654,28.209910,-177.391031,unknown,"28.20991,-177.391031","Midway Atoll, United States",NaN,United States
8520,34.054722,-119.753889,unknown,"34.054722,-119.753889",United States,NaN,United States
12470,25.769750,-80.174400,unknown,"25.76975,-80.1744",NaN,NaN,NaN
13729,33.961667,-119.753333,unknown,"33.961667,-119.753333",United States,NaN,United States
13868,18.392222,-75.004167,unknown,"18.392222,-75.00416700000002",United States,NaN,United States
13945,33.969112,-119.693913,unknown,"33.969112,-119.693913",United States,NaN,United States
15535,34.047651,-119.735373,unknown,"34.047651,-119.735373",United States,NaN,United States

In [131]:
df['province'].value_counts()

British Columbia         28303
Alberta                  18758
Texas                     6851
Ontario                   2777
Québec                    1354
Florida                   1215
California                1010
Northwest Territories      960
Nunavut                    843
Alaska                     748
North Carolina             563
Washington                 525
Yukon                      516
Nova Scotia                503
Manitoba                   286
Hawaii                     272
Massachusetts              249
New Brunswick              243
New York                   222
Maryland                   219
Newfoundland               208
Maine                      110
South Carolina             106
Virginia                   105
Oregon                      86
New Jersey                  84
Saskatchewan                72
Mississippi                 67
Alabama                     62
Prince Edward Island        57
Louisiana                   49
Connecticut                 48
Georgia                     40
Rhode Island                39
Delaware                     8
Michigan                     4
Wyoming                      4
Montana                      1
Idaho                        1
Ohio                         1
Name: province, dtype: int64

In [132]:
alberta_dfs = []

path = '/mnt/c/Users/imrit/Downloads/Sharma_fish_project/GET_WATERBODY_NAMES/ALBERTA_TO_GET_WATERBODIES/'

for file in os.listdir(path):
    df_temp = pd.read_csv(f'{path}{file}')
    alberta_dfs.append(df_temp)
    
alberta = pd.concat(alberta_dfs)
alberta = alberta[['latitude', 'longitude', 'waterbody_name', 'site_description']]
alberta['waterbody_type'] = alberta['waterbody_name'].str.extract("(" + "|".join(waterbody_type_list) +")", expand=False)
alberta

,latitude,longitude,waterbody_name,site_description,waterbody_type
0,54.053198,-111.372081,OWLSEYE LAKE,Unknown Station,LAKE
1,54.143062,-111.511662,UPPER MANN LAKE,Cold Lake,LAKE
2,54.614040,-112.726508,SKELETON LAKE,Cold Lake,LAKE
3,54.176603,-111.516320,LOWER MANN LAKE,Unknown Station,LAKE
4,54.362184,-111.889992,WHITEFISH LAKE,Canyon Creek Hatchery,LAKE
...,...,...,...,...,...
29,56.859693,-112.711679,Dunkirk River,150m upstream of start co-ordinate (56.859746;...,NaN
30,56.361678,-112.175221,Horse River,150m upstream of start co-ordinate (56.361770;...,NaN
31,57.130494,-111.593965,Muskeg River,150m upstream of start co-ordinate (57.130550;...,NaN
32,57.394026,-111.985955,Tar River,150m upstream of start co-ordinate (57.393686;...,NaN
33,57.403831,-111.684532,Calumet River,150m upstream of start co-ordinate (57.403308...,NaN

In [133]:
df_alberta_unidentified = df.copy(deep=True).merge(alberta, on = ['latitude', 'longitude'], how = 'left')
len(df_alberta_unidentified)

72004

In [134]:
df_alberta_unidentified

,latitude,longitude,country,lat_long,address,province,country_from_add,waterbody_name,site_description,waterbody_type
0,46.048779,-73.099504,Canada,"46.048779,-73.09950400000001","Rue Boucher, Sorel-Tracy, Pierre-De Saurel, Mo...",Québec,Canada,NaN,NaN,NaN
1,47.214796,-70.273828,Canada,"47.214796,-70.27382800000001","Parc Nautique St-Jean Port-Joli, Rue des Pionn...",Québec,Canada,NaN,NaN,NaN
2,45.920765,-75.245955,Canada,"45.920765,-75.24595500000001","Montpellier, Papineau, Outaouais, Québec, Canada",Québec,Canada,NaN,NaN,NaN
3,45.932440,-75.257616,Canada,"45.93244,-75.257616","Accès chalet de la Bécasse, Montpellier, Papin...",Québec,Canada,NaN,NaN,NaN
4,46.105279,-75.345767,Canada,"46.105279,-75.34576700000001","Notre-Dame-du-Laus, Antoine-Labelle, Laurentid...",Québec,Canada,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
71999,56.076810,-131.077000,unknown,"56.07681,-131.077","Ketchikan Gateway, Alaska, United States",Alaska,United States,NaN,NaN,NaN
72000,55.817480,-130.933300,unknown,"55.81748,-130.9333","Ketchikan Gateway, Alaska, United States",Alaska,United States,NaN,NaN,NaN
72001,60.463590,-144.889200,unknown,"60.46359,-144.8892","Unorganized Borough, Alaska, United States",Alaska,United States,NaN,NaN,NaN
72002,59.907210,-149.738500,unknown,"59.90721,-149.7385","Kenai Peninsula, Alaska, United States",Alaska,United States,NaN,NaN,NaN
72003,64.504360,-165.423500,unknown,"64.50435999999999,-165.4235","Seppala Drive, Nome, Alaska, 99762, United States",Alaska,United States,NaN,NaN,NaN

In [135]:
df_alberta_unidentified.loc[df_alberta_unidentified['waterbody_type'] == 'LAKE']['waterbody_name'].value_counts()

EMERSON LAKE         58
MARY GREGG LAKE      57
MARGARET LAKE        56
SARDINE LAKE         56
TAY LAKE             55
                     ..
UNNAMED LAKE          1
RUBY LAKE             1
OBSTRUCTION LAKES     1
GENSTAR LAKE          1
GREW LAKE             1
Name: waterbody_name, Length: 81, dtype: int64

In [136]:
df_alberta_unidentified['waterbody_name'].value_counts()

UNNAMED            7064
ATHABASCA RIVER     911
KAKWA RIVER         779
PEACE RIVER         608
WAPITI RIVER        556
                   ...
THORNTON CREEK        1
CROSS CREEK           1
HARO RIVER            1
PEKISKO CREEK         1
EMERSON CREEK         1
Name: waterbody_name, Length: 745, dtype: int64

In [137]:
len(df_alberta_unidentified.loc[~df_alberta_unidentified['waterbody_name'].isna()])

18149

In [149]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/original_program_data_20030304-5.xls - original_program_data_20030304.csv')
df['year'] = pd.DatetimeIndex(df['Date']).year
df.head()

,StationID/ID de station,Station Name/Nom de station,Date,Ice Thickness/Épaisseur de la glace,Snow depth/Profondeur de la neige,Measurement Method/Méthode de mesure,Surface Topology/Topographie de la surface,Cracks and Leads/Fissures et chenaux,year
0,Q25,14A (END BECANCOUR DOCK) Q25,7/1/1984,40.0,1.0,NaN,NaN,NaN,1984
1,Q25,14A (END BECANCOUR DOCK) Q25,16/1/1984,49.0,20.0,NaN,NaN,NaN,1984
2,Q25,14A (END BECANCOUR DOCK) Q25,21/1/1984,42.0,8.0,NaN,NaN,NaN,1984
3,Q25,14A (END BECANCOUR DOCK) Q25,28/1/1984,43.0,20.0,NaN,NaN,NaN,1984
4,Q25,14A (END BECANCOUR DOCK) Q25,4/2/1984,41.0,22.0,NaN,NaN,NaN,1984

In [150]:
df.groupby(['StationID/ID de station']).aggregate(['max', 'min'])

                        Station Name/Nom de station                      \
                                                max                 min
StationID/ID de station
A1                                               A1                  A1
A10                                             A10                 A10
A2                                               A2                  A2
A3                                               A3                  A3
A7                                               A7                  A7
...                                             ...                 ...
YYR                                   GOOSE BAY YYR       GOOSE BAY YYR
YZE                              SOUTH BAYMOUTH YZE  SOUTH BAYMOUTH YZE
YZF                                 YELLOWKNIFE YZF     YELLOWKNIFE YZF
YZS                               CORAL HARBOUR YZS   CORAL HARBOUR YZS
ZUE                                  CAPE PARRY ZUE      CAPE PARRY ZUE

                             Date            \
                              max       min
StationID/ID de station
A1                       9/2/1988  1/2/1978
A10                      9/1/1996  1/2/1973
A2                       9/2/1988  1/2/1978
A3                       9/6/2000  1/1/1972
A7                       9/3/1977  1/2/1965
...                           ...       ...
YYR                      9/5/1980  1/1/1988
YZE                      9/4/1985  1/1/1982
YZF                      9/5/1969  1/1/1960
YZS                      9/6/1989  1/1/1960
ZUE                      9/6/1989  1/1/1960

                        Ice Thickness/Épaisseur de la glace        \
                                                        max   min
StationID/ID de station
A1                                                     89.0   0.0
A10                                                    91.0   0.0
A2                                                     55.0   0.0
A3                                                     74.0   0.0
A7                                                     91.0  13.0
...                                                     ...   ...
YYR                                                   122.0   4.0
YZE                                                    81.0   5.0
YZF                                                   183.0   3.0
YZS                                                   206.0   8.0
ZUE                                                   227.0   8.0

                        Snow depth/Profondeur de la neige       \
                                                      max  min
StationID/ID de station
A1                                                   38.0  0.0
A10                                                  47.0  0.0
A2                                                   36.0  0.0
A3                                                   38.0  0.0
A7                                                   37.0  0.0
...                                                   ...  ...
YYR                                                  99.0  0.0
YZE                                                  42.0  0.0
YZF                                                  45.0  0.0
YZS                                                  69.0  0.0
ZUE                                                  58.0  0.0

                        Measurement Method/Méthode de mesure       \
                                                         max  min
StationID/ID de station
A1                                                       1.0  1.0
A10                                                      1.0  1.0
A2                                                       1.0  1.0
A3                                                       1.0  1.0
A7                                                       1.0  1.0
...                                                      ...  ...
YYR                                                      1.0  0.0
YZE                                                      1.0  1.0
YZF                                                      1.0  1.0
YZS                                                      1.0  1.0
ZUE                                                      1.0  0.0

                        Surface Topology/Topographie de la surface       \
                                                               max  min
StationID/ID de station
A1                                                             0.0  0.0
A10                                                            NaN  NaN
A2                                                             NaN  NaN
A3                                                             0.0  0.0
A7                                                             0.0  0.0
...                                                            ...  ...
YYR                                                            5.0  0.0
YZE                                                            6.0  0.0
YZF                                                            1.0  0.0
YZS                                                            9.0  0.0
ZUE                                                            7.0  0.0

                        Cracks and Leads/Fissures et chenaux       year
                                                         max  min   max   min
StationID/ID de station
A1                                                       0.0  0.0  2000  1971
A10                                                      NaN  NaN  1996  1971
A2                                                       NaN  NaN  2000  1974
A3                                                       0.0  0.0  2000  1971
A7                                                       0.0  0.0  2000  1963
...                                                      ...  ...   ...   ...
YYR                                                      2.0  0.0  1995  1959
YZE                                                      3.0  0.0  1993  1962
YZF                                                      3.0  0.0  1996  1958
YZS                                                      3.0  0.0  1997  1958
ZUE                                                      3.0  0.0  1992  1959

[195 rows x 16 columns]